---
layout: default
title: Home
image: "/uploads/home-hero-160812-vince.jpg"
---

{% assign header       = site.home | where: 'title', 'header' | first  %}
{% assign applications = site.home | where: 'title', 'applications' | first  %}
{% assign design       = site.home | where: 'title', 'design' | first  %}
{% assign about        = site.home | where: 'title', 'about' | first  %}

<header class="Header Header--fullRatio Header--rev" role="banner">
	<div class="owl-carousel js-owl">
		{% for image in header.gallery-images %}
		<div class="FlexEmbed">
			<div class="FlexEmbed-ratio"></div>
			<div class="FlexEmbed-content">
				{% include responsive-img.html %}
                <div class="u-posAbsoluteCenter FlexEmbed-content--dark">&nbsp;</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="Header-wrapper Header-wrapper--top">
		<div class="Header-masthead">
			<a class="Header-logo" href="/">
				<img src="/uploads/logo-white.png" alt="{{ site.title }}">
			</a>
		</div>
	</div>
	<div class="Header-wrapper">
		<div class="o-aligner">
			<div class="o-aligner-item">
				<div class="Container">
					<h1 class="Header-title">
						{{ header.hero_headline }}
					</h1>
				</div>
			</div>
		</div>
	</div>
</header>






<main class="Content u-bgBrand" role="main">
	<section class="Section Pathway Pathway--rev">
		<div class="Container Container--textColumn">
			<div class="Pathway-hgroup">
				<figure class="Figure--icon">
					<svg class="Icon Icon--lg u-colorWhite">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-services"></use>
					</svg>
				</figure>
				<h1 class="Pathway-title">{{ applications.headline }}</h1>
			</div>
			<div class="Pathway-text">
				{{ applications.content }}
			</div>
			<div class="Pathway-action">
				<a class="Button t-button--rev" href="/applications">{{ applications.button }}</a>
			</div>
		</div>
		<figure class="Section--top">
			<div class="carousel carousel--dragger carousel--light">
				{% for image in applications.carousel-images %}
					<div class="carousel-cell">
						<div class="FlexEmbed">
							<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
							<div class="FlexEmbed-content">
								{% include responsive-img.html %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</figure>
	</section>

	<section class="Section Pathway Pathway--rev">
		<div class="Container Container--textColumn">
			<div class="Pathway-hgroup">
				<figure class="Figure--icon">
					<svg class="Icon Icon--lg u-colorWhite">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-estimate"></use>
					</svg>
				</figure>
				<h1 class="Pathway-title">{{ design.headline }}</h1>
			</div>
			<div class="Pathway-text">
				{{ design.content }}
			</div>
			<div class="Pathway-action">
				<a class="Button t-button--rev" href="/design">{{ design.button }}</a>
			</div>
		</div>
	</section>

	<section class="Section Pathway Pathway--rev">
		<div class="Container Container--textColumn">
			<div class="Pathway-hgroup u-marginB0">
				<figure class="Figure--icon">
					<svg class="Icon Icon--lg u-colorWhite">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-about"></use>
					</svg>
				</figure>
				<h1 class="Pathway-title">{{ about.headline }}</h1>
			</div>
		</div>
		<div class="Container Container--fullWidthMobile">
			<figure class="Figure">
                {% assign image = "/uploads/home-about-160812-duo" %}
                {% assign alt = "Vince & LeaAnne Cassaniti, Ocean Blue Living" %}
                {% include responsive-img.html %}
			</figure>
		</div>
		<div class="Container Container--textColumn">
			<div class="Pathway-text">
				{{ about.content }}
			</div>
			<div class="Pathway-action">
				<a class="Button t-button--rev" href="/about">{{ about.button }}</a>
			</div>
		</div>
	</section>

	<!-- blog -->
	<section class="Section">
		<div class="Pathway-hgroup">
			<figure class="Figure--icon">
				<svg class="Icon Icon--lg u-colorWhite">
					<use xlink:href="#ic-blog"></use>
				</svg>
			</figure>
			<h1 class="Pathway-title u-colorWhite">The Ocean Blue blog.</h1>
		</div>

		{% for post in site.posts | limit: 1 %}
			<article class="Post--article u-bgWhite">
				<div class="FlexEmbed u-bgBrand">
					<div class="FlexEmbed-ratio"></div>
					<div class="FlexEmbed-content">
                        {% assign imagePath = "/uploads/post-" %}
                        <img
                            class="FlexEmbed-fitImage lazyload ls-blur"
                            alt="{{ alt }}"
                            src="{{ imagePath }}{{ post.slug }}-src.jpg"
                            data-sizes="auto"
                            data-srcset="{{ imagePath }}{{ post.slug }}-src.jpg 300w, {{ imagePath }}{{ post.slug }}-xs.jpg 1200w, {{ imagePath }}{{ post.slug }}.jpg 2000w"
                            />
                    </div>
				</div>
				<div class="Container Container--textColumn Post--article-ruleOff">
					<div class="Post-header">
						<div class="Post-meta">
							{% for tag in page.tags %}
								<a class="Post-tag" href="/blog/tags/{{ tag | downcase | replace:' ','+' }}">{{ tag | capitalize }}</a>
							{% endfor %}
							<a class="Post-tag" href="/blog/tags/{{ page.tags }}">{{ post.tags | first | capitalize }}</a>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<span class="Post-date">{{ post.date | date: "%B %d, %Y" }}</span>
						</div>
						<h1 class="Post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
					</div>

					{{ post.content }}

					<!-- <h3 class="Headline--minor u-marginT3">Author</h3>
					<p class="Post-author">{{ post.author }}</p> -->
					<h3 class="Headline--minor u-marginT3">Share</h3>
					{% include share.html %}
				</div>
			</article>
		{% endfor %}

	</section>

	<section class="Section--rg u-bgWhite">
		{% include pathway-blog.html %}
	</section>

</main>
