---
title: applications
layout: default
---

{% assign applications = site.pages | where: 'title', 'applications' | first  %}

<header class="Header Header--fullRatio" role="banner">
	<div class="FlexEmbed">
		<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
		<div class="FlexEmbed-content">
			<div class="u-posAbsoluteCenter CoverImage"
				style="background-image: url('{{ applications.header_image }}')">
			</div>
			<div class="Container u-textCenter u-marginT4">
				<a class="Header-logo" href="/">
					<img src="/uploads/logo.png" alt="{{ site.title }}">
				</a>
				<h1 class="Header-title u-marginT15">
					{{ applications.header_headline }}
				</h1>
			</div>
			<div class="Container Container--textColumn">
				{{ applications.header_description | markdownify }}
			</div>
		</div>
	</div>
</header>






<main class="Content" role="main">
	<section class="Section Pathway">

		<div class="Container Container--textColumn">
			<figure class="u-textCenter">
				<svg class="Icon Icon--lg">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-estimate"></use>
				</svg>
			</figure>
			<h1 class="Pathway-title u-marginTD2 u-marginB2">Screens</h1>

			{{ applications.screens_first_text | markdownify }}

		</div>

		<div class="gallery gallery--dragger u-marginT6 u-marginB6">
			{% for image in applications.screens_gallery_images %}
				<div class="gallery-cell">
					<div class="FlexEmbed">
						<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
						<div class="FlexEmbed-content">
							<div
								class="u-posAbsoluteCenter CoverImage"
								style="background-image: url('{{ image }}')">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="Container Container--textColumn">

			{{ applications.screens_second_text | markdownify }}

			<div class="u-textCenter u-marginT2">
				<a class="Button t-button" href="/design">Get an estimate →</a>
			</div>
		</div>

	</section>







	<!-- pathway -->
	<section class="Section u-paddingT0">
		<div class="Container Container--textColumn">
			{% include pathway-primary.html %}
		</div>
	</section>

</main>
