

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


// When is a post is article.
.Post--article {
	background-color: palette(background);
}

.Post--article-ruleOff {
	border-bottom: 1px solid palette(base);
	padding-bottom: space(3);
}

// When a post is also a link.
// These are vertically & horizontally centered.
// See: https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
a.Post--inList {
	// @include baseTransition();
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	opacity: 1;

	+ .Post {
		margin-top: space(3.25);
		margin-top: 4vh;
	}

	> .Post-contentAligner {
		flex: 1;
	}

	@include on-event() {
		.CoverImage,
		.Post-image {
			@include baseTransition();
			opacity: 0.5;
		}
	}
}

.Post-header {
	@include sectionSpace();
}

.Post-meta {
	@include TextSm();
	color: palette(muted);
	margin: space(0.5) 0;
	text-align: center;

	@include when-inside(".Post--inList") {
		margin-bottom: 0;
		text-align: left;
	}
}

.Post-tag,
.Post-date {
}

.Post-title {
	@include headlineRg();

	@include respond-to(sm) {
		margin: 0 auto;
		width: 70%;
	}
}

.Post-title + p {
	@include TextMd();
}

.Post-subtitle {
	@include headlineSm();
	margin: space(1) 0 0 0;
	text-align: left;
}

.Post-author {
	@include TextSm();
}



// Pathway
// --------------------------------------------------------------------------

a.Post-pathway {
	@include rule( 1px, palette(base) );
	background-color: palette(background);
	display: block;
	margin: 0 auto;
	max-width: size(container, text-column);
	padding: space(2) space(1);
	position: relative;

	@include respond-to(xs) {
		max-width: size(container, text-column);
		padding: space(6) 0;
	}
}
