

// --------------------------------------------------------------------------
//   NAV COMPONENT
// --------------------------------------------------------------------------


.Nav {
	// display: flex;
	// height: rem(80);
	// padding: space(0.9);
	// position: relative;

	@include baseTransition;
	padding: space(4) space(8);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;

	@include respond-to(xs) {
	}

	// Color the hamburger icon
	@include when-inside(".Home") {
		color: palette(white);
	}
}


// Make the header nav fixed and animate down into view on scroll
// Req's: component.fixedheaderanimation.js
// See: http://codepen.io/Craig-Watson/pen/zGbNRL
// --------------------------------------------------------------------------

$FixedNavHeight: rem(220);

.Nav-transition {
	transform: translateY( -#{$FixedNavHeight} );
	transition-duration: map-fetch($transition, duration, long);
}
