

// --------------------------------------------------------------------------
//   NAV COMPONENT
// --------------------------------------------------------------------------


.Nav {
	// display: flex;
	// height: rem(80);
	// padding: space(0.9);
	// position: relative;

	@include respond-to(xs) {
	}

	// Color the hamburger icon
	@include when-inside(".Home") { color: palette(white); }
	@include when-inside(".Modal") { color: palette(white); }
}

.Nav-title {
	@include headlineSm();
	color: palette(white);
}

$infoColor: rgba( palette(white), 0.5 );

.Nav-info {
	@include TextMd($mixinFont: $font-sans-light);
	color: $infoColor;

	&:not(:last-child) {
		border-right: 1px solid rgba( palette(white), 0.25 );
		margin-right: space(0.8) !important;
		padding-right: space(1);
	}
}


// Nav toggle
// --------------------------------------------------------------------------

.Nav-toggle {
	@include baseTransition;
	display: inline;
	position: fixed;
	top: space(4);
	right: space(8);
	z-index: 9;

	@include respond-to(xs) {
	}

	// Color the hamburger icon
	@include when-inside(".Home") {
		color: palette(white);
	}
}

// Make the header nav fixed and animate down into view on scroll
// Req's: component.fixedheaderanimation.js
// See: http://codepen.io/Craig-Watson/pen/zGbNRL

$FixedNavHeight: rem(220);

.Nav-toggle--transition {
	position: fixed;
	transform: translateY( -#{$FixedNavHeight} );
	transition-duration: map-fetch($transition, duration, long);
}
