

// --------------------------------------------------------------------------
//   CLOUDINARY LOADER
//   Ref: https://jsfiddle.net/idobarnoam/k89ff3ay/1/
// --------------------------------------------------------------------------


.CloudinaryImage {
    height: 100%;
    object-fit: cover;
    //width: 100%;
    
    bottom: 0;
	left: 0;
	//margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}


//.js-cloudinary .CloudinaryImage {
//    //opacity: 0;
//    transition: opacity 1s linear;
//}
//
//.js-cloudinary .lg {
//    opacity: 0;
//}
//
//// blur the small placeholder image.
//// this is needed so Safari keeps sharp edges.
//.js-cloudinary .xs {
//    filter: blur(50px);
//    opacity: 0.5;
//    transform: scale(1); // 1.
//}
//
//.js-cloudinary .CloudinaryImage.is-loaded {
//    opacity: 1;
//}




.CloudinaryImage.xs {
    filter: blur(10px);
    opacity: 1;
    //transform: scale(1);
    transition: opacity 1s linear;
}

.CloudinaryImage.xs.is-loaded {
    opacity: 0;
}
