

// --------------------------------------------------------------------------
//   COMPONENT: PATHWAYS
//   Show users pathways.
// --------------------------------------------------------------------------


.Pathway {
	display: block;

	p {
		@include TextMd();
	}

	// as used in About pg
	+ .Pathway {
		margin-top: space(3.5);
		@include respond-to(sm) { margin-top: space(7); }
	}

	// as used in Home pg
	&--rev {
		h1 { color: palette(white); }
		p { color: rgba( palette(white), 0.7 ); }
		+ .Pathway { margin-top: 0; }
	}
}

.Pathway-title,
.Pathway-subtitle {
	margin: space(0.5) 0 space(2);

	@include respond-to(sm) {
		margin: space(0.5) 0 space(2);
		// width: 70%;
	}
}

.Pathway-title {
	@include headlineRg();
}

.Pathway-subtitle {
	@include headlineSm();
}

.Pathway .t-button--rev {
	opacity: 0.7;
}
