

// --------------------------------------------------------------------------
//   COMPONENT: PATHWAYS
//   Show users pathways.
// --------------------------------------------------------------------------


.Pathway {
	h1,
	p {
		color: palette(white);
		margin: 0 auto;
		max-width: size(container, text-column);

		@include respond-to(xs) {
			max-width: size(container, text-column);
		}
	}

	p {
		@include TextMd();
		color: rgba( palette(white), 0.7 );

		+ p {
			margin-top: space(0.5);
		}

		@include respond-to(xs) {
		}
	}
}

.Pathway-title {
	@include headlineRg();
	color: palette(white);

	@include respond-to(sm) {
		// margin: 0 auto;
		// width: 70%;
	}
}

.Pathway .t-button--rev {
	opacity: 0.7;
}
