

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


.Post {
	background-color: palette(background);
}

a.Post {
	@include complexLink();

	+ .Post {
		margin-top: space(3.25);
	}

	@include on-event() {
		.CoverImage {
			@include baseTransition();
			background-blend-mode: multiply;
			background-color: rgba( palette(brand), 0.4 );
			// filter: grayscale(100%);
			// opacity: 0.3;
		}
	}

	@include when-inside(".post") {
		@include on-event() {
			.CoverImage {
				opacity: 0.2;
			}
		}
	}
}

// .Post-image {
// 	margin-top: space(0.3);
//
// 	&--fullWidth {
// 		margin-bottom: space(1);
// 	}
//
// 	&--dark .CoverImage {
// 		opacity: 0.5;
// 	}
//
// 	.CoverImage {
// 		@include baseTransition();
// 	}
// }


.Post-header {
	@include sectionSpace();
}

.Post-meta {
	@include TextSm();
	color: palette(muted);
	margin: space(1) 0;
	text-align: center;
}

.Post-tags,
.Post-date {
	display: inline-block;
}

.Post-title {
	@include headlineRg();

	@include respond-to(sm) {
		margin: 0 auto;
		width: 70%;
	}
}

.Post-title + p {
	@include TextMd();
}

.Post-subtitle {
	@include headlineSm();
	margin: space(1) 0;
	text-align: left;
}

.Post-author {
	@include TextSm();
}



// Pathway
// --------------------------------------------------------------------------

a.Post-pathway {
	@include rule( 1px, palette(base) );
	background-color: palette(background);
	display: block;
	margin: 0 auto;
	max-width: size(container, text-column);
	padding: space(2) space(1);
	position: relative;

	@include respond-to(xs) {
		max-width: size(container, text-column);
		padding: space(6) 0;
	}
}



// Article layout
// --------------------------------------------------------------------------

// .Article {
// 	background-color: palette(white);
// 	// padding: space(6) 0;
//
// 	@include respond-to(sm) {
// 		// padding: space(12) 0;
// 	}
// }
