

// --------------------------------------------------------------------------
//   LAYOUT: SECTION
// --------------------------------------------------------------------------


// Using multiple mixins because 'content:' won't take a var.
// API:
// $vertSpaceSm              : 8.5vh;
// $vertSpace                : 17vh;
// $vertSpaceLg              : 34vh;

@mixin sectionSpace() {
	padding: $vertSpace 0;
}

@mixin sectionSpace--xs() {
	padding: $vertSpaceXs 0;
}

@mixin sectionSpace--sm() {
	padding: $vertSpaceSm 0;
}

@mixin sectionSpace--lg() {
	padding: $vertSpaceLg 0;
}


//  --#{breakpoint}Top

@mixin sectionSpace--top() {
	padding-top: $vertSpace;
}

@mixin sectionSpace--xsTop() {
	padding-top: $vertSpaceXs;
}

@mixin sectionSpace--smTop() {
	padding-top: $vertSpaceSm;
}

@mixin sectionSpace--lgTop() {
	padding-top: $vertSpaceLg;
}


// Vax initiate.

.Content {
	@include sectionSpace--top();
}

.Section + .Section {
	@include sectionSpace--lgTop();

}

.Section--xs    { @include sectionSpace--xs(); }
.Section--sm    { @include sectionSpace--sm(); }
.Section--rg    { @include sectionSpace(); }
.Section--lg    { @include sectionSpace--lg(); }

.Section--top   { @include sectionSpace--top(); }
.Section--xsTop { @include sectionSpace--xsTop(); }
.Section--smTop { @include sectionSpace--smTop(); }
.Section--lgTop { @include sectionSpace--lgTop(); }


// Vars

.Section--cta {
	margin: $vertSpace 0;

	> .Container {
		border-top: 1px solid palette(base);
		padding-top: 14vh !important;
	}
}
