

// --------------------------------------------------------------------------
//   HEADER
// --------------------------------------------------------------------------


.Header {
	position: relative;

	@include respond-to(sm) {
	}

	&--fade {
		background-image: linear-gradient(to bottom, rgba( palette(neutral-dark), 0 ) 50%, rgba( palette(neutral-dark), 0.7 ) 100%);
	}
}

.Header-wrapper {
	@include posAbsoluteCenter();
	z-index: 2;

	> .Container {
		margin-top: space(4);
		margin-top: $vertSpaceXs;
		text-align: center;

		@include respond-to(sm) {
			margin-top: $vertSpace;
		}
	}
}

.Header .FlexEmbed-ratio {
	padding-bottom: 130%;
	@include respond-to(xs) { padding-bottom: 100%; }
	@include respond-to(md) { padding-bottom: 75%; }
	@include respond-to(lg) { padding-bottom: 66%; }
	@include respond-to(xl) { padding-bottom: 100vh; }
}


// Header elements
// --------------------------------------------------------------------------

.Header-logo {
	border-bottom: 1px solid palette(brand);
	display: inline-block;
	padding-bottom: space(1);

	> img {
		width: 30%;
		width: 130px;
		@include respond-to(sm) { width: 160px; }
		@include respond-to(lg) { width: 200px; }
	}

	@include when-inside(".Header--rev") {
		border-color: palette(white);
	}
}

.Header-logo + .Header-title {
	margin-top: space(1.5) !important;
	margin-top: $vertSpaceXs !important;
}

.Header-title {
	@include headlineRg();
	margin: space(0.5) auto space(2);

	@include respond-to(sm) {
		margin: space(0.5) auto space(2);
		width: 70%;
	}

	@include when-inside(".Header--rev") {
		color: palette(white);
	}
}

.Header-hero {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;

	> img {
		width: 100%;
		@include respond-to(xs) { width: 90%; }
		@include respond-to(md) { width: 66%; }
		@include respond-to(xl) { width: 55%; }
	}
}
