

// --------------------------------------------------------------------------
//   HEADER
// --------------------------------------------------------------------------


.Header {
	position: relative;

	@include respond-to(sm) {
	}
}

.Header-logo {
	border-bottom: 1px solid palette(brand);
	display: inline-block;
	padding-bottom: space(1);

	> img {
		width: 220px;
	}

	@include when-inside(".Header--rev") {
		border-color: palette(white);
	}
}

.Header-title {
	@include headlineRg();

	@include respond-to(sm) {
		margin: 0 auto;
		width: 70%;
	}

	@include when-inside(".Header--rev") {
		color: palette(white);
	}
}

.Header-hero {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;

	img {

	}

}
