

// --------------------------------------------------------------------------
//   LAYOUT: SECTION
// --------------------------------------------------------------------------


.Section {
	padding: space(3.5) 0;

	@include respond-to(sm) {
		padding: space(7) 0;
	}

	@include when-inside(".Home") {
		padding: space(6) 0;

		@include respond-to(sm) {
			padding: space(12) 0;
		}
	}
}
