

// --------------------------------------------------------------------------
//   LAYOUT: SECTION
// --------------------------------------------------------------------------


// Using multiple mixins because 'content:' won't take a var.
// Using vh buggyfill: https://goo.gl/DQESLg
//   > content: 'viewport-units-buggyfill;'  'font-size: 90vh;';
// API:
// $vertSpaceXs              : 5vh;
// $vertSpaceSm              : 8.5vh;
// $vertSpace                : 17vh;
// $vertSpaceLg              : 34vh;

@mixin sectionSpace() {
    padding: $vertSpace 0;
}

@mixin sectionSpace--xs() {
    padding: $vertSpaceXs 0;
}

@mixin sectionSpace--sm() {
    padding: $vertSpaceSm 0;
}

@mixin sectionSpace--lg() {
    padding: $vertSpaceLg 0;
}


//  --#{breakpoint}Top

@mixin sectionSpace--top() {
    padding-top: $vertSpace;
}

@mixin sectionSpace--xsTop() {
    padding-top: $vertSpaceXs;
}

@mixin sectionSpace--smTop() {
    padding-top: $vertSpaceSm;
}

@mixin sectionSpace--lgTop() {
    padding-top: $vertSpaceLg;
}

@mixin sectionSpace--bottom() {
    padding-bottom: $vertSpace;
}


// Vax initiate.

.Content {
    //@include sectionSpace--top();
}

.Content-wrapper--oceanblue {
    background-color: palette(brand);
    background-color: darken(palette(brand-light),10%);
    //background-image: linear-gradient( palette(brand) 30%, darken(palette(brand-light),15%) );
    //background-image: linear-gradient( darken(palette(brand-light),10%) 0, palette(brand) 70% );
    padding-bottom: $vertSpaceLg;
}

//.Section           { @include sectionSpace--lgTop();}

.Section--xs       { @include sectionSpace--xs(); }
.Section--sm       { @include sectionSpace--sm(); }
.Section--rg       { @include sectionSpace(); }
.Section--lg       { @include sectionSpace--lg(); }

.Section--bottom   { @include sectionSpace--bottom(); }

.Section--top      { @include sectionSpace--top(); }
.Section--xsTop    { @include sectionSpace--xsTop(); }
.Section--smTop    { @include sectionSpace--smTop(); }
.Section--lgTop    { @include sectionSpace--lgTop(); }



.msm-Section--smTop { 
    @include media-breakpoint-down(sm) {
        @include sectionSpace--smTop();
    }
}

.Section--pageLink { 
    padding: $vertSpaceSm 0 $vertSpaceSm * 1.25; 
}

.Section--cta {
    //margin: $vertSpace 0;
    margin: $vertSpace 0;

    > .Container {
        border-top: 1px solid palette(base);
        //padding-top: 14vh !important;
        padding-top: $vertSpace * 0.75;
    }
}

.Section--blogPostTitle {
    margin-top: $vertSpace * 0.3;

    > .Container {
        border-top: 1px solid palette(base);
        padding-top: $vertSpace * 0.3;
    }
}

.Section--ruled {
    border-top: 1px solid palette(base);
    margin-top: $vertSpaceSm * 0.75;
    padding-top: $vertSpaceSm * 0.75 !important;
}

.Section--afterArticleBlock {
    border-top: 1px solid palette(base);
    margin-top: $vertSpaceSm * 0.75;
    padding-top: $vertSpaceSm * 0.25 !important;
}
