

// --------------------------------------------------------------------------
//   LAYOUT: FOOTER
// --------------------------------------------------------------------------


.Footer {
	background-color: palette(brand-counter);
	border-top: 1px solid palette(base);
	// margin-top: space(1.5);
	padding: space(2) 0;
    position: relative;

	ul {
		margin-bottom: 0;
	}
}

a.Footer-logo {
	display: block;
	padding-bottom: space(1.5);
	text-align: center;

	> img {
		width: 150px;
	}

	@include respond-to(xs) {
		padding-bottom: space(2);
	}
}

.Footer-nav {
	padding-bottom: space(1.4);

	@include respond-to(xs) {
		padding-bottom: space(1.9);
	}

	> ul {
		text-align: center;
	}

	li {
		@include TextRg();
	}
}

.Footer-info {
	@include media-breakpoint-only(xs) {
		> div {
			margin-bottom: space(0.5);
			text-align: center !important;
		}
	}

	@include media-breakpoint-between(sm, md) {
		> div {
			@include first(2) { margin-bottom: space(0.5); }
			@include odd() { text-align: right; }
		}
	}
}

.Footer-author {
    @include TextSm();
    bottom: 4.25rem;
    color: rgba( palette(brand), 0.3 );
    position: absolute;
    right: -2rem;
    transform: rotate(-90deg);

    @include media-breakpoint-up(sm) { bottom: 5rem; right: -2rem; }
    @include media-breakpoint-up(lg) { bottom: space(4.475); right: 0; }
}
