

// --------------------------------------------------------------------------
//   FLEX ALIGNER OBJECT
//   See: https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
// --------------------------------------------------------------------------


.o-aligner {
	display: flex;
	align-items: center;
	min-height: 100%;
	justify-content: center;
}

.o-aligner-item {
	flex: 1;
}

.o-aligner-item--top {
	align-self: flex-start;
}

.o-aligner-item--bottom {
	align-self: flex-end;
}

.o-aligner-item--fixed {
	flex: none;
	max-width: 50%;
}
