

// --------------------------------------------------------------------------
// FIGURE ELEMENT
// --------------------------------------------------------------------------


.Figure {
	//content: "buggyfill";
	margin: $vertSpaceSm auto;

	img { width: 100%; }
}

.Figure--lg {
	//content: "buggyfill";
	margin: $vertSpace auto;

	img { width: 100%; }
}

.Figure--lgTop {
	//content: "buggyfill";
	margin: $vertSpace auto 0;

	img { width: 100%; }
}

.Figure--icon {
	margin: 0 0 space(0.5);
	text-align: center;

	@include respond-to(sm) {
		margin: 0 0 space(0.75);
	}
}

.Figure--hero {
	margin: 0 0 space(1);

	@include respond-to(sm) {
		margin: space(1.5) 0 space(1.25);
		margin: 0 0 space(1.25);
	}
}
