

// --------------------------------------------------------------------------
// COMPONENT: CONTAINER
// --------------------------------------------------------------------------


.Container {
	@include clearfix();
	margin: 0 auto;
	max-width: size(container, default);
	padding: 0 space(1);
	position: relative;

	@include respond-to(text-column) {
		padding: 0;
	}

	// basic container width var
	&--textColumn {
		@include respond-to(text-column) {
			max-width: size(container, text-column);
		}
	}

	// inset text column
	&--insetTextColumn {
		p {
			@include TextMd();
			margin: 0 auto;

			@include respond-to(text-column) {
				max-width: size(container, text-column);
			}

			+ p {
				margin-top: space(1);
			}
		}
	}
}
