

// --------------------------------------------------------------------------
//   VARIABLE SETTINGS
// --------------------------------------------------------------------------


// Namespace for themeing & testing
// Apply: .#{$namespace}textarea
// --------------------------------------------------------------------------

$namespace             : '';


// Colours
// --------------------------------------------------------------------------

// Do not use these values directly in your Sass files. Use the more
// specifically named variables below that use these root values.

$base-black                    : #000;
$base-white                    : #FFF;

$palette: (
	black                      : $base-black,
	dark                       : tint($base-black, 15%),
	ash                        : tint($base-black, 22%),
	charcoal                   : tint($base-black, 39%),
	medium                     : tint($base-black, 50%),
	muted                      : tint($base-black, 70%),
	base                       : tint($base-black, 86%),
	light                      : tint($base-black, 94%),
	faint                      : tint($base-black, 97%),
	white                      : $base-white,
	background                 : #fdfdfd,
	neutral                    : #F3F2F1,
	neutral-dark               : darken(#f0eeeb, 9%),
	neutral-light              : lighten(#f0eeeb, 4%),
	brand                      : #04152B,
	brand-complement           : #6EBE44,
	brand-counter              : #F7FCFF,
	warning                    : #FFD40C,
	bad-news                   : #C60C0C,
	good-news                  : brand-complement

);

// http://www.sitepoint.com/debugging-sass-maps/
// I can't get this to work, but it'd be very handy…
// .Debug { @include debug-map($color); }


// Sizes map
// 1. this doesn't work in a map: calc(720px + (#{$space} * 2))
// --------------------------------------------------------------------------

$base-font-size-unit      : 16;
$base-line-height-unit    : 1.5;
$base-font-size           : $base-font-size-unit * 1px;
$base-line-height         : ($base-font-size-unit * $base-line-height-unit) * 1px; //22.8
$space-unit               : rem($base-line-height);
$space                    : $space-unit * 1;

$gutterSpace              : space(0.75);
$gutterSpaceLg            : 5vw;

$vertSpaceXs              : 5vh;
$vertSpaceSm              : 8.5vh;
$vertSpace                : 17vh;
$vertSpaceLg              : 30vh;



$grid-breakpoints: (
	xs: 0,
	sm: 544px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	su: 1700px
) !default;

$container-max-widths: (
	xs: 460px,
	sm: 576px,
	md: 720px,
	ml: 840px,
	lg: 960px,
	ll: 1140px,
	xl: 1200px,
	su: 1700px,
	xx: 80vw
) !default;





$size: (

	border-radius: (
		small             : rem(3),
		base              : rem(4),
		large             : rem(6)
	),

	breakpoint: (
		'max-xs'          : ( max-width:  600px ),
		'max-sm'          : ( max-width:  767px ),
		'ip6'             : ( min-width:  374px ),
		'xs'              : ( min-width:  600px ),
		'text-column'     : ( min-width:  766px ), // 1
		'sm'              : ( min-width:  767px ),
		'md'              : ( min-width:  992px ),
		'lg'              : ( min-width: 1200px ),
		'xl'              : ( min-width: 1700px )
	),

	button-height: (
		concise           : rem(36),
		concisePlus       : rem(38),
		base              : rem(44),
		basePlus          : rem(45),
		large             : rem(48)
	),

	container: (
		modal-form        : rem(740),
		modal-form-sm     : 80%,
		default           : rem(1100),
		small             : rem(345),
		mobile-column     : rem(600),
		text-column       : rem(720),
		picture           : rem(960),
		wide-picture      : rem(1240)
	),

	font: (
		textXs: (
			xs            : 11px,
			base          : 13px
		),
		textSm: (
			xs            : 13px,
			base          : 15px
		),
		textRg: (
			xs            : $base-font-size * 0.9,
			base          : $base-font-size * 1.25
		),
		textMd: (
			xs            : 19px,
			sm            : 21px,
			base          : 24px
		),
		textLg: (
			xs            : 17px,
			base          : 21px
		),
		headerXs: (
			xs            : 13px,
			base          : 16px
		),
		headerSm: (
			xs            : 20px,
			base          : 22px,
			lg            : 27px,
			xl            : 27px
		),
		headerRg: (
			xs            : 24px,
			base          : 30px,
			lg            : 35px,
			xl            : 39px
		),
		headerLg: (
			xs            : 27px,
			base          : 35px,
			lg            : 41px,
			xl            : 46px
		),





		headerMd: (
			xs            : rem(21),
			base          : rem(28)
		),
		headerXl: (
			xs            : rem(36),
			base          : rem(41)
		),
		close: (
			xs            : rem(33),
			base          : rem(66)
		),
		super: (
			xs            : rem(50),
			base          : rem(100)
		),
	),

	list-inset: (
		margin            : space(1.5),
		padding           : 0
	),
);


// Transitions maps
// --------------------------------------------------------------------------

$transition: (
	duration: (
		fast         : 50ms,
		short        : 150ms,
		long         : 500ms
	),
	type: (
		thisalso     : cubic-bezier(0.19, 1, 0.22, 1),
		cubic-static : cubic-bezier(0, -0.1, 1, -0.1),
		cubic-state  : cubic-bezier(0, 1.1, 1, 1.1),
		base         : ease-out,
		fine         : ease-in-out
	)
);


// Z-indexes map
// --------------------------------------------------------------------------

$z-index: (
	'modal'     : 8001,
	'overlay'   : 8000,
	'dropdown'  : 7000,
	'second'    : 2000,
	'first'     : 1000,
	'default'   : 1,
	'below'     : -1,
);


// Fonts
// --------------------------------------------------------------------------

// LEGACY: easy google-fonts implementation
// $sans: 'Source Sans Pro';
// $font: join($sans, $font-sans-stack);

$fonts-path           : '/source/fonts/';
$sans-font-name       : 'Calibre';
$font-sans-stack      : -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Cantarell","Open Sans","Helvetica Neue","Ubuntu",sans-serif;
// $font-sans-stack      : 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $serif-font-name      : 'Calibre';
// $font-serif-stack     : Georgia, Times, serif;
$display-font-name    : 'Akkurat-Mono';
$font-display-stack   : 'Courier New', 'Consolas', 'Andale Mono', 'Lucida San Typewriter', 'Lucida Console', mono-spaced;

// Create font-file variables

$sans-thin            : #{$sans-font-name}-Thin;
$sans-light           : #{$sans-font-name}-Light;
$sans-book            : #{$sans-font-name}-Regular;
$sans-regular         : #{$sans-font-name}-Regular;
$sans-medium          : #{$sans-font-name}-Medium;
$sans-bold            : #{$sans-font-name}-Bold;
$sans-xbold           : #{$sans-font-name}-extrabold;
$sans-black           : #{$sans-font-name}-Black;

$sans-regular-italic  : #{$sans-font-name}-RegularItalic;
$sans-medium-italic   : #{$sans-font-name}-MediumItalic;

$display              : #{$display-font-name};

// Make all font files available
// Mixin options: $font-family, $file-path, $weight, $style, $formats
// Ps. This below prints an unwanted space between the path var and the font var:
// @include font-face($sans-thin, join($fonts-path,$sans-thin) );

@include font-face($sans-thin,    '#{$fonts-path}#{$sans-thin}' );
@include font-face($sans-light,   '#{$fonts-path}#{$sans-light}' );
@include font-face($sans-book,    '#{$fonts-path}#{$sans-book}' );
@include font-face($sans-regular, '#{$fonts-path}#{$sans-regular}' );
@include font-face($sans-medium,  '#{$fonts-path}#{$sans-medium}' );
@include font-face($sans-bold,    '#{$fonts-path}#{$sans-bold}' );
@include font-face($sans-xbold,   '#{$fonts-path}#{$sans-xbold}' );
@include font-face($sans-black,   '#{$fonts-path}#{$sans-black}' );
@include font-face($sans-regular-italic, '#{$fonts-path}#{$sans-regular-italic}' );
@include font-face($display, '#{$fonts-path}#{$display}' );

// Apply font-file variables to a font-stack
// Only use these variables in our classes.

$font-sans-thin       : join($sans-thin, $font-sans-stack);
$font-sans-light      : join($sans-light, $font-sans-stack);
$font-sans-book       : join($sans-book, $font-sans-stack);
$font-sans-regular    : join($sans-regular, $font-sans-stack);
$font-sans-regular-i  : join($sans-regular, $font-sans-stack);
$font-sans-medium     : join($sans-medium, $font-sans-stack);
$font-sans-medium-i   : join($sans-medium-italic, $font-sans-stack);
$font-sans-bold       : join($sans-bold, $font-sans-stack);
$font-sans-xbold      : join($sans-xbold, $font-sans-stack);
$font-sans-black      : join($sans-black, $font-sans-stack);
$font-sans-regular-i  : join($sans-regular-italic, $font-sans-stack);
$font-display         : join($display, $font-display-stack);

// if using @fontface via a cloud service, eg. Google fonts.

$font-weight: (
	'thin'      : 100,
	'light'     : 200,
	'book'      : 400,
	'regular'   : 500,
	'medium'    : 600,
	'bold'      : 700,
	'black'     : 900
);
