

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


@mixin headlineTemplate() {
	@include typeReset();
	line-height: 1.5;
	margin-bottom: space(0.85);
	text-align: center;

	// if the headline is a link
	// https://css-tricks.com/the-sass-ampersand/
	// &#{a} {
	//     @include on-event() {
	//         opacity: 0.4;
	//         transition: opacity 500ms ease;
	//     }
	// }

	a {

	}

	@include respond-to(xs) {
		// margin-bottom: space(1.75);
	}
}

@mixin headlineRg(
	$mixinColor: palette(brand),
	$mixinFont: $font-display
) {
	@include headlineTemplate();
	color: $mixinColor;
	font-family: $mixinFont;
	font-size: fontsize(headerRg, xs);

	@include respond-to(xs) { font-size: fontsize(headerRg, base); }
	@include respond-to(md) { font-size: fontsize(headerRg, lg); }
	@include respond-to(xl) { font-size: fontsize(headerRg, xl); }
}

@mixin headlineSm(
	$mixinColor: palette(brand),
	$mixinFont: $font-display
) {
	@include headlineTemplate();
	color: $mixinColor;
	font-family: $mixinFont;
	font-size: fontsize(headerSm, xs);
	letter-spacing: 0.03em;

	@include respond-to(xs) {
		font-size: fontsize(headerSm, base);
	}
}


// Vax Initiate.
// Hierarchy: primary, secondary, tertiary, quaternary, quinary, senary,
// septenary, octonary, nonary, denary… and super.
// --------------------------------------------------------------------------

.u-headline            { @include headlineRg(); }
.u-headlineEm          { @include headlineRg($mixinFont: $font-sans-medium-i); }
.u-headline--light     { @include headlineRg($mixinColor: palette(brand-counter)); }
.u-headlineSm--light   { @include headlineSm($mixinColor: palette(brand-counter)); }

.Headline--sm          { @include headlineSm(); }
.Headline              { @include headlineRg(); }



// .Headline--sm        { @include headlineSm(); }
// .Headline--secondary { @include headlineSecondary(); }
// .Headline--tertiary  { @include headlineTertiary(); }



// Minor headlines
// --------------------------------------------------------------------------

@mixin headlineMinor(
	$mixinColor: rgba( palette(brand), 0.4 ),
	$mixinFont: $font-sans-book
) {
	@include typeReset();
	color: $mixinColor;
	font-family: $mixinFont;
	font-size: fontsize(headerXs, xs);
	letter-spacing: 0.06em;
	line-height: 1.5;
	margin-bottom: space(0.25);
	text-transform: uppercase;

	@include respond-to(xs) {
		font-size: fontsize(headerXs, base);
	}
}

.HeadlineMinor { @include headlineMinor(); }
