<!-- lazysize methods: object-fit or background-images? -->

<!-- <div
    class="u-posAbsoluteCenter CoverImage--dark lazyload"
    style="background-image: url('/uploads/home-hero-4.jpg')"
    OR LAZYSIZE: data-bg="{{ image }}">
</div> -->
<!-- <div class="CoverImage--dark u-posRelative">
    <img class="objectFit" src="/uploads/home-hero-4.jpg" alt="">
</div> -->

<!-- <img src="lqip-src.jpg" data-src="image.jpg" class="lazyload" /> -->


<!-- *** Production and development configs *** -->

<!-- Only show DISQUS comments in production. -->
{% if site.production %}
<script type="text/javascript">
  var disqus_shortname = '...';
  ...
</script>
{% endif %}

<!-- Developing a local only feature not ready for production. -->
{% unless site.production %}
<section class="promotion">
  <header>T-SHIRT FUNDRAISER!</header>
  ...
</section>
{% endunless %}




<!-- <div class="gallery--dragger u-marginT6">
	<div class="owl-carousel js-owl-dragger">
		{% for image in applications.gallery-images %}
			<div class="FlexEmbed">
				<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
				<div class="FlexEmbed-content">
					<div
						class="u-posAbsoluteCenter CoverImage"
						style="background-image: url('{{ image }}')">
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div> -->


<!-- <a class="Pathway Section--smTop" href="{{ site.social-facebook }}">
	<figure class="u-textCenter">
		<svg class="Icon Icon--md">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-facebook"></use>
		</svg>
	</figure>
	<h1 class="Pathway-subtitle">
		Like us.
	</h1>
</a>
<a class="Pathway Section--smTop" href="{{ site.social-pinterest }}">
	<figure class="u-textCenter">
		<svg class="Icon Icon--md">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-pinterest"></use>
		</svg>
	</figure>
	<h1 class="Pathway-subtitle">
		Pin us.
	</h1>
</a> -->

<div class="Pathway Section--smTop u-textCenter">
	<div class="Grid">
		<div class="Grid-cell u-xs-before1of12 u-xs-size5of12">
			<a class="" href="{{ site.social-facebook }}">
				<figure class="u-textCenter">
					<svg class="Icon Icon--md">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-facebook"></use>
					</svg>
				</figure>
				<h1 class="Pathway-subtitle">
					Like us.
				</h1>
			</a>
		</div>
		<div class="Grid-cell u-xs-after1of12 u-xs-size5of12">
			<a class="" href="{{ site.social-pinterest }}">
				<figure class="u-textCenter">
					<svg class="Icon Icon--md">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-pinterest"></use>
					</svg>
				</figure>
				<h1 class="Pathway-subtitle">
					Pin us.
				</h1>
			</a>
		</div>
	</div>
</div>

<section class="Section Pathway">
	<div class="Container Container--textColumn">
		<figure class="u-textCenter">
			<img class="Icon Icon--super" src="/uploads/ic-app-screens.png" alt="Screen applications icon" />
		</figure>
		<h1 class="Pathway-title">Screens</h1>
		<div class="u-textMdBlock">
			{{ applications.screens_first_text | markdownify }}
		</div>
	</div>
	<div class="gallery gallery--dragger gallery--light Section--sm">
		{% for image in applications.screens_gallery_images %}
			<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div
							class="u-posAbsoluteCenter CoverImage"
							style="background-image: url('{{ image }}');">
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="Container Container--textColumn">
		{{ applications.screens_second_text | markdownify }}
		<div class="u-textCenter u-marginT2">
			<a class="Button t-button" href="/design">Design + estimate →</a>
		</div>
	</div>
</section>

<!-- applications hero descrp -->

hero_description: "Our architectural metal panels filter and sculpt light. They’re
  not only engineered to withstand the elements, they’re also profoundly artistic.\n\nFrom
  screens, panels, gates and letterbox plates, to signage, wall and garden art, we
  create your designs. \n\nOur products are proudly designed and built in our Cairns
  workshop. "
