<footer class="Footer b-py2 bg-neutralAlt u-relative" role="contentinfo">
  <div class="Container">
    <div class="u-textCenter">
      <a href="/">
        <span class="u-icon u-icon--logo">
          {% include icons/logo.html %}
        </span>
      </a>
    </div>
    <nav class="b-py1">
      <ul class="u-md-inlineChildrenBlock u-listUnstyled u-textCenter">
        <li><a href="/">Home</a></li>
        <li><a href="/applications">Applications</a></li>
        <li><a href="/design">Design</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <div class="w-8of12 w-md-7of12 w-lg-9of12 m-xA">
      <div class="FlexGrid u-flexJustifyCenter">
        <div class="w-sm-1of2 w-lg-1of4 m-b2 m-sm-b0">
          <ul class="Text--xs u-listUnstyled u-textCenterBlock u-sm-textLeftBlock">
            <li><a href="tel:{{ site.contact-phone }}">T: {{ site.contact-phone }}</a></li>
            <li><a href="mailto:{{ site.contact-email }}">{{ site.contact-email }}</a></li>
          </ul>
        </div>
        <div class="w-sm-1of2 w-lg-1of4 m-b2 m-sm-b0 u-textCenterBlock u-sm-textLeftBlock">
          <a class="Text--xs u-block" href="https://goo.gl/maps/GQHnTB9koXQ2" target="_blank">
            <!-- {{ site.contact-address }} -->
            116 Lyons Street, Cairns<br>Queensland 4870 Australia
          </a>
        </div>
        <div class="w-sm-1of2 w-lg-1of4 m-b2 m-sm-b0">
          <ul class="Text--xs u-listUnstyled u-textCenterBlock u-sm-textLeftBlock">
            <li>{{ site.contact-open }}</li>
            <li>{{ site.contact-appt }}</li>
          </ul>
        </div>
        <div class="w-sm-1of2 w-lg-1of4 m-b2 m-sm-b0">
          <ul class="Text--xs u-listUnstyled u-textCenterBlock u-sm-textLeftBlock">
            <li><a href="{{ site.social-facebook }}">Like us on Facebook</a></li>
            <li><a href="{{ site.social-instagram }}">Gram us on Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a href="https://callumflack.design" class="Footer-author Text--xs">Site by Callum Flack Design</a>

</footer>
