<footer class="Footer" role="contentinfo">
	<div class="Container">
		<a class="Footer-logo" href="/">
			<img src="/uploads/logo.png" alt="{{ site.title }}">
		</a>

		<nav class="Footer-nav">
			<div class="o-listInline">
				<li><a href="#">Home</a></li>
				<li><a href="#">Applications</a></li>
				<li><a href="#">Design</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
			</div>
		</nav>

		<div class="Grid Grid--alignCenter">
			<div class="Grid-cell u-size10of12">
				<div class="Grid Grid--withGutter">
					<div class="Grid-cell u-size3of12">
						<ul class="o-listClean u-textSm">
							<li><a href="#">T: 0409 726 128 </a></li>
							<li><a href="#">E: info@oceanblueliving.com.au</a></li>
						</ul>
					</div>
					<div class="Grid-cell u-size3of12">
						<a class="u-textSm" href="https://goo.gl/maps/GQHnTB9koXQ2" target="_blank">
							3/169 Newell Street, Cairns<br>
							Queensland 4870 Australia
						</a>
					</div>
					<div class="Grid-cell u-size3of12">
						<ul class="o-listClean u-textSm">
							<li><a href="#">Open Tues–Thurs 9am-2pm</a></li>
							<li><a href="#">Other times by appointment</a></li>
						</ul>
					</div>
					<div class="Grid-cell u-size3of12">
						<ul class="o-listClean u-textSm">
							<li><a href="#">Like us on Facebook</a></li>
							<li><a href="#">Pin us on Pinterest</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

</footer>
