<footer class="Footer" role="contentinfo">
    <div class="Container">
        <a class="Footer-logo" href="/">
          <img src="/uploads/logo.png" alt="{{ site.title }}">
        </a>
        <nav class="Footer-nav">
          <ul class="o-listInline">
            <li><a href="/">Home</a></li>
            <li><a href="/applications">Applications</a></li>
            <li><a href="/design">Design</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>

        <div class="Grid Grid--alignCenter">
          <div class="Grid-cell u-size8of12 u-md-size11of12 u-lg-size10of12">
            <div class="Grid Grid--withGutter Footer-info">
              <div class="Grid-cell u-xs-size6of12 u-md-size3of12">
                <ul class="o-listClean u-textSm">
                  <li><a href="tel:{{ site.contact-phone }}">T: {{ site.contact-phone }}</a></li>
                  <li><a href="mailto:{{ site.contact-email }}">{{ site.contact-email }}</a></li>
                </ul>
              </div>
              <div class="Grid-cell u-xs-size6of12 u-md-size3of12">
                <a class="u-textSm u-block" href="https://goo.gl/maps/GQHnTB9koXQ2" target="_blank">
                  {{ site.contact-address }}
                </a>
              </div>
              <div class="Grid-cell u-xs-size6of12 u-md-size3of12">
                <p class="u-textSm u-marginB0">{{ site.contact-open }}</p>
                <p class="u-textSm">{{ site.contact-appt }}</p>
              </div>
              <div class="Grid-cell u-xs-size6of12 u-md-size3of12">
                <ul class="o-listClean u-textSm">
                  <li><a href="{{ site.social-facebook }}">Like us on Facebook</a></li>
                  <li><a href="{{ site.social-instagram }}">Gram us on Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

    </div>

    <a href="https://callumflack.design" class="Footer-author">Site by Callum Flack Design</a>

</footer>
