<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo title=false %}

    <title>{{ site.title }}{% if page.url != '/' %} | {{ page.title | capitalize }}{% endif %}</title>

    {% include lazysize-scripts.html %}
    {% include lazysize-styles.html %}
    {% include critical-css.html %}

    <link rel="stylesheet" href="{{ "/build/slick.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/build/application.css" | prepend: site.baseurl }}">

    {% comment %}{% feed_meta %}{% endcomment %}

</head>
