<div class="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal>
	<div class="Modal-dialog" role="document">
		<div class="Header-masthead">
			<a class="Header-logo u-block" href="/">
				<img src="/uploads/logo-white.png" alt="{{ site.title }}">
			</a>
			<div class="Container u-textCenter">
				<nav class="Nav" role="nav">
					<ul class="Nav-list">
						<li class="Nav-title"><a href="/">Home</a></li>
						<li class="Nav-title"><a href="/applications">Applications</a></li>
						<li class="Nav-title"><a href="/designs">Design</a></li>
						<li class="Nav-title"><a href="/blog">Blog</a></li>
						<li class="Nav-title"><a href="/about">About</a></li>
					</ul>
					<ul class="Nav-list">
						<li class="Nav-info"><a href="tel:{{ site.contact-phone }}">T: {{ site.contact-phone }}</a></li>
						<li class="Nav-info"><a href="mailto:{{ site.contact-email }}">E: {{ site.contact-email }}</a></li>
						<li class="Nav-info">Cairns, Australia</li>
					</ul>
				</nav>

			</div>
		</div>

	</div>
</div>
