<div class="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal>
	<div class="Modal-dialog" role="document">
		<div class="Container u-textCenter u-marginT4">
			<nav class="Nav" role="nav">
				<div class="Header--rev">
					<a class="Header-logo" href="/">
						<img src="/uploads/logo-white.png" alt="{{ site.title }}">
					</a>
				</div>
				<ul class="o-listInline u-marginT2">
					<li class="Nav-title"><a href="#">Home</a></li>
					<li class="Nav-title"><a href="#">Applications</a></li>
					<li class="Nav-title"><a href="#">Design</a></li>
					<li class="Nav-title"><a href="#">Blog</a></li>
					<li class="Nav-title"><a href="#">About</a></li>
				</ul>
				<ul class="o-listInline">
					<li class="Nav-info"><a href="tel:{{ site.contact-phone }}">T: {{ site.contact-phone }}</a></li>
					<li class="Nav-info"><a href="mailto:{{ site.contact-email }}">E: {{ site.contact-email }}</a></li>
					<li class="Nav-info">Cairns, Australia</li>
				</ul>
			</nav>

		</div>
	</div>
</div>
