<div class="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal>
  <div class="Modal-dialog" role="document">
    <div class="b-mt2 u-textCenter u-posRelative">
      <a class="Header-logo u-block m-b4" href="/">
        <img src="/uploads/logo-white.png" alt="{{ site.title }}">
      </a>
      <div class="Container u-textCenter">
        <nav class="Nav" role="nav">
          <ul class="Nav-list u-inlineBlockChildren TypeScope-reset p-t3 m-b4">
            <li class="Subheading c-bg"><a href="/">Home</a></li>
            <li class="Subheading c-bg"><a href="/applications">Applications</a></li>
            <li class="Subheading c-bg"><a href="/design">Design</a></li>
            <li class="Subheading c-bg"><a href="/blog">Blog</a></li>
            <li class="Subheading c-bg"><a href="/about">About</a></li>
          </ul>
          <ul class="Nav-list u-inlineBlockChildren">
            <li class="Nav-info c-textLight"><a href="tel:{{ site.contact-phone }}">T: {{ site.contact-phone }}</a></li>
            <li class="Nav-info c-textLight"><a href="mailto:{{ site.contact-email }}">E: {{ site.contact-email }}</a></li>
            <li class="Nav-info c-textLight">Cairns, Australia</li>
          </ul>
        </nav>

      </div>
    </div>

  </div>
</div>
