<div class="Pathway">
	<figure class="u-textCenter">
		<svg class="Icon Icon--lg">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-newsletter"></use>
		</svg>
	</figure>
	<h2 class="Pathway-subtitle">
		Get posts delivered.
	</h2>
	<div class="Grid-cell--center u-size9of12 u-marginT2">
		{% include newsletter-subscribe.html %}
		<p class="u-textXs u-textCenter u-colorMuted u-marginT">We respect your privacy. Your details will never be shared with a third party.</p>
	</div>
</div>
