 <div class="Pathway {% unless page.title == "blog" %}Section--smTop{% endunless %}">
	<figure class="Figure--icon">
		<svg class="Icon Icon--lg">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-newsletter"></use>
		</svg>
	</figure>
	<h2 class="Pathway-subtitle">
		{% if page.title == "about" %}
			Keep up-to-date.
		{% else %}
			Get posts delivered.
		{% endif %}
	</h2>
	<div class="Grid-cell--center u-sm-size9of12">
		{% include newsletter-subscribe.html %}
		<p class="u-textXs u-textCenter u-colorMuted u-marginT">We respect your privacy. Your details won't be shared with anyone else.</p>
	</div>
</div>
