<div class="Pathway">
  <div class="m-b4">
    <figure class="u-icon u-icon--lg m-b1 u-textCenter w-100">
      <svg version="1.1" viewbox="0 0 54 54">
        {% include icons/contact.html %}
      </svg>
    </figure>
    <h2 class="Subheading">
      {% if page.title == "applications" %}
        Got bigger ideas?</br>
      {% elsif page.title == "design" %}
        Anything amiss?</br>
      {% endif %}
      Get in touch
    </h2>
  </div>
  <div class="m-xA w-8of12 w-sm-5of12">
    <ul class="Text--sm u-listUnstyled">
      <li><a href="tel:{{ site.contact-phone }}">T: {{ site.contact-phone }}</a></li>
      <li><a href="mailto:{{ site.contact-email }}">E: {{ site.contact-email }}</a></li>
      
      <a class="u-block m-y2" href="https://goo.gl/maps/GQHnTB9koXQ2" target="_blank">
        {{ site.contact-address }}
      </a>
      
      <li class="TypeScopeReset">
        <div class="TypeScope Text--sm">
          {{ site.contact-open | markdownify }}
        </div>
        <div class="TypeScope Text--sm">
          {{ site.contact-appt | markdownify }}
        </div>
      </li>
      
    </ul>
  </div>
</div>
