<div class="Pathway FlexGrid">
  <a class="" href="{{ site.social-facebook }}">
    <figure class="u-icon u-icon--lg m-b3 u-textCenter w-100">
      <svg version="1.1" viewbox="0 0 54 54">
        {% include icons/facebook.html %}
      </svg>
    </figure>
    <h2 class="Subheading">
      Like us
    </h2>
  </a>
  <a class="" href="{{ site.social-pinterest }}">
    <figure class="u-icon u-icon--lg m-b3 u-textCenter w-100">
      <svg version="1.1" viewbox="0 0 54 54">
        {% include icons/pinterest.html %}
      </svg>
    </figure>
    <h2 class="Subheading">
      Pin us
    </h2>
  </a>
  <a class="" href="{{ site.social-instagram }}">
    <figure class="u-icon u-icon--lg m-b3 u-textCenter w-100">
      <svg version="1.1" viewbox="0 0 54 54">
        {% include icons/instagram.html %}
      </svg>
    </figure>
    <h2 class="Subheading">
      Gram us
    </h2>
  </a>
</div>
