 <div class="Pathway">
    <figure class="u-icon u-icon--lg u-textCenter w-100">
      <svg version="1.1" viewbox="0 0 54 54">
        {% include icons/newsletter.html %}
      </svg>
    </figure>
    <h2 class="Subheading m-b4">
      {% if page.title == "about" %}
        Keep up-to-date
      {% else %}
        Subscribe
      {% endif %}
    </h2>
    <div class="m-xA u-sm-size9of12">
      {% include newsletter-subscribe.html %}
      <p class="Text--xs u-textCenter c-gray m-t4">Your details won't be shared with anyone else.</p>
    </div>
</div>
