<div class="Pathway Section--smTop u-textCenter o-listInline--lg">
	<a class="" href="{{ site.social-facebook }}">
		<figure class="Figure--icon">
			<svg class="Icon Icon--md">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-facebook"></use>
			</svg>
		</figure>
		<h2 class="Pathway-subtitle u-marginB0">
			Like us.
		</h2>
	</a>
	<a class="" href="{{ site.social-pinterest }}">
		<figure class="Figure--icon">
			<svg class="Icon Icon--md">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-pinterest"></use>
			</svg>
		</figure>
		<h2 class="Pathway-subtitle u-marginB0">
			Pin us.
		</h2>
	</a>
	<a class="" href="{{ site.social-pinterest }}">
		<figure class="Figure--icon">
			<svg class="Icon Icon--md">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-pinterest"></use>
			</svg>
		</figure>
		<h2 class="Pathway-subtitle u-marginB0">
			Gram us.
		</h2>
	</a>
</div>
