<div class="Pathway">
	<figure class="u-textCenter">
		<svg class="Icon Icon--lg">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-contact"></use>
		</svg>
	</figure>
	<h1 class="Pathway-title">
		{% if page.title == "applications" %}
			Got bigger ideas?</br>
		{% endif %}
		Get in touch.
	</h1>
	<div class="Grid-cell Grid-cell--center u-size5of12">
		<ul class="o-listClean">
			<li><a href="tel:{{ site.contact-phone }}">T: {{ site.contact-phone }}</a></li>
			<li><a href="mailto:{{ site.contact-email }}">E: {{ site.contact-email }}</a></li>
			<a class="u-block u-marginTD2 u-marginBD2" href="https://goo.gl/maps/GQHnTB9koXQ2" target="_blank">
				{{ site.contact-address }}
			</a>
			{{ site.contact-open | markdownify }}
		</ul>
	</div>
</div>
