<!-- next / prev -->
<!-- <section class="Section">
	<div class="DivRule"></div>
	<a href="/blog">
		<h1 class="Headline Arrow-right">View all posts</h1>
	</a>
	<div class="Grid">
		{% if page.previous %}
			<div class="Grid-cell u-xs-size1of2">
				<a class="Post" href="{{ page.previous.url }}">
					<figure class="Post-image--dark">
						<div class="FlexEmbed">
							<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9 u-bgDark"></div>
							<div class="FlexEmbed-content CoverImage" style="background-image: url('{{ page.previous.hero }}')"></div>
							<div class="FlexEmbed-content">
								<h1 class="Post-headline Post-headline--right Arrow-left">{{ page.previous.title }}</h1>
							</div>
						</div>
					</figure>
				</a>
			</div>
		{% endif %}
		{% if page.next %}
		<div class="Grid-cell u-xs-size1of2">
			<a class="Post" href="{{ page.next.url }}">
				<figure class="Post-image--dark">
					<div class="FlexEmbed">
						<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9 u-bgDark"></div>
						<div class="FlexEmbed-content CoverImage" style="background-image: url('{{ page.next.hero }}')"></div>
						<div class="FlexEmbed-content">
							<h1 class="Post-headline Arrow-right">{{ page.next.title }}</h1>
						</div>
					</div>
				</figure>
			</a>
		</div>
		{% endif %}

	</div>
</section> -->
