{% comment %}
<img class="CloudinaryImage xs" src="https://res.cloudinary.com/pw-img-cdn/image/fetch/w_100,e_blur:300/https://www.oceanblueliving.com.au/uploads/post-{{ page.slug }}.jpg">
<img class="CloudinaryImage js-cloudinaryImage is-loaded" src="https://res.cloudinary.com/pw-img-cdn/image/fetch/w_2500,h_1406,c_fill,g_auto,f_auto/https://www.oceanblueliving.com.au/uploads/post-{{ page.slug }}.jpg">
{% endcomment %}

<div 
    class="CloudinaryImage xs" 
    style="background-image: url('https://res.cloudinary.com/pw-img-cdn/image/fetch/w_100,e_blur:300/https://www.oceanblueliving.com.au/{{ image }}')"
></div>
<div 
    class="CloudinaryImage js-cloudinaryImage" 
    style="background-image: url('https://res.cloudinary.com/pw-img-cdn/image/fetch/w_2500,h_1406,c_fill,g_center,f_auto/https://www.oceanblueliving.com.au/{{ image }}')"
></div>
