<div class="FlexEmbed js-cloudinary">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--4by3"></div>
    <!-- <div class="FlexEmbed-content CoverImage" data-bg="https://www.oceanblueliving.com.au/uploads/{{ image }}"> -->
    <div class="FlexEmbed-content">
    
    <!-- <div class="FlexEmbed-content CoverImage xs" style="background-image: url('https://res.cloudinary.com/pw-img-cdn/image/fetch/w_100/https://www.oceanblueliving.com.au/uploads/{{ image }}')"> -->
    <!-- <div class="FlexEmbed-content CoverImage lg" data-bg="https://www.oceanblueliving.com.au/uploads/{{ image }}"> -->
        
        <!-- https://res.cloudinary.com/demo/image/upload/w_100/w_iw/sample -->
        <!-- <div class="u-posAbsoluteCenter CoverImage" data-bg="https://www.oceanblueliving.com.au/uploads/{{ image }}">
            
        </div> -->
        
        <!-- <div class="placeholder" data-large="https://res.cloudinary.com/demo/image/upload/sample">
        <img src="https://res.cloudinary.com/demo/image/upload/w_100/w_iw/sample" class="img-small">
        <div style="padding-bottom: 66.6%;"></div>
        </div> -->
        
        <!-- <img data-bg="https://www.oceanblueliving.com.au/uploads/{{ image }}" src="https://www.oceanblueliving.com.au/uploads/{{ image }}" alt=""> -->
        <!-- <img class="FlexEmbed-fitImage" data-bg="https://www.oceanblueliving.com.au/uploads/{{ image }}"> -->
        
        <!-- <img class="CloudinaryImage xs is-loaded" src="https://res.cloudinary.com/pw-img-cdn/image/fetch/w_100,e_blur:300/https://www.oceanblueliving.com.au/uploads/{{ image }}"> -->
        
        <!-- <img class="CloudinaryImage xs" src="https://res.cloudinary.com/pw-img-cdn/image/fetch/w_100/https://www.oceanblueliving.com.au/uploads/{{ image }}"> -->
        <!-- <img class="CloudinaryImage lg" > -->
        
        
        <img class="CloudinaryImage xs" src="https://res.cloudinary.com/pw-img-cdn/image/fetch/w_100,e_blur:300/https://www.oceanblueliving.com.au/uploads/{{ image }}">
        <img class="CloudinaryImage js-cloudinaryImage" data-bg="https://www.oceanblueliving.com.au/uploads/{{ image }}">
    </div>
</div> 