{% comment %}
<img class="CloudinaryImage xs" src="http://res.cloudinary.com/pw-img-cdn/image/fetch/w_100,e_blur:300/http://www.oceanblueliving.com.au/uploads/{{ image }}">
<img class="CloudinaryImage js-cloudinaryImageLarge" data-bg="http://www.oceanblueliving.com.au/uploads/{{ image }}" alt="{{ alt }}">
{% endcomment %}

<div 
    class="CloudinaryImage xs" 
    style="background-image: url('http://res.cloudinary.com/pw-img-cdn/image/fetch/w_100,e_blur:300/http://www.oceanblueliving.com.au/{{ image }}')"
></div>
<div 
    class="CloudinaryImage js-cloudinaryImageLarge" 
    data-bg="http://www.oceanblueliving.com.au/{{ image }}" 
></div>
