.Category-button {
  border: 1px solid rgba(3, 13, 24, 0.15);
  display: inline-block;
  padding: 1.25em 1.25em 0 1.25em;
  text-align: center;
  width: 100%;

  &:hover,
  &:active {
    border-color: currentcolor;
  }
}

.Category-image {
  height: var(--categoryButtonHeight);
  position: relative;
  width: 100%;
}
