.Nav-toggle {
  color: var(--c-brand);
  display: inline;
  position: fixed;
  top: var(--s-5);
  right: var(--space);
  z-index: 9;

  &.is-reversedOut button {
    color: var(--c-bg);
  }

  @media (--sm) {
    right: var(--s-5);
  }
}

/*  
  Make the header nav fixed and animate down into view on scroll
  Req's: component.fixedheaderanimation.js
  See: http://codepen.io/Craig-Watson/pen/zGbNRL


$FixedNavHeight: rem(220);

.Nav-toggle--transition {
  position: fixed;
  transform: translateY(-#{$FixedNavHeight});
  transition-duration: map-fetch($transition, duration, long);
}
*/
