.Nav,
.Nav-header {
  padding: var(--s-3);
  
  @media (--sm) {
    padding: var(--s-4);
  }
}

.Nav-header {
  // border-bottom: 1px solid var(--c-white);
}

.Nav--purple {
  background-color: var(--c-brand);
  border-bottom: initial;

  & a {
    color: var(--c-white);
  }
}

.Nav-links {
  margin-bottom: 0;
}

/* center links vertically */
.Nav-links,
.Nav-mobileTrigger {
  @mixin FlexChildrenCenter;
}

.Nav-links li {

}

.Nav-links li a {
  color: var(--c-text);
  font-size: var(--fs-text);
}

.Nav-memberTrigger {
  border: 1px solid var(--c-text);
  border-radius: 50%;
  cursor: pointer;
  fill: var(--c-text);
  height: 36px;
  padding: 0;
  transform: translateY(3px);
  vertical-align: middle;
  width: 36px;

  & span {
    transform: translateY(-1px);
  }
}

.Nav-mobileTrigger {
  &:before {
    content: '\2630';
    margin-right: 6px;
  }
}

/*

  footer

*/

.Footer-links {
  & a {
    color: var(--c-textLight);
    display: block;
    padding-bottom: var(--s-2);
  }

  @media (--sm) {
    & > * {
      display: inline-block;

      &:not(:last-child) {
        margin-right: var(--inlineBlockChildrenSpace);
      }
    }
  }
}

.Footer-links + .Footer-links {
  /* margin-left: var(--s-4);

  @media (--sm) {
    margin-left: var(--s-5);
  }*/
}