:root {
  --storyHeight: 40vh;
}

.Story {
  display: flex;
  height: var(--storyHeight);
  flex-direction: column;
  position: relative;

  &:before {
    @mixin absolutePin;
    background-image: linear-gradient(
      to bottom,
      rgba(0,0,0,0) 40%,
      rgba(0,0,0,0.6) 100%
    );
    content: "";
  }
}

.Story-heading {
  position: relative;
  margin-top: auto;

  & h3 {
    margin-left: var(--s-4);
    margin-bottom: calc(0.75* var(--s-4));
  }
}

.Story-link {
  // border-top: 1px solid rgba(palette(brand-aubergine), 0.5);
  // color: var(--c-brand);
  display: inline-block;
  font-weight: var(--fw-bold);
  padding-top: 6px;
}

.Story-steps {
  color: var(--c-brand);
  font-size: var(--fs-superheading);
  font-weight: var(--fw-light);

  & ~ hr {
    margin-bottom: calc(1.5 * var(--space));
  }  
}

