.RegistryForm {
  background-color: var(--c-whitesmoke);
  border-radius: var(--border-radius);
}

.RegistryForm-grid,
.RegistryForm-save {
  padding-left: var(--s-3);
  padding-right: var(--s-3);
  padding-bottom: var(--s-4);
  
  @media (--sm) {
    padding-left: var(--s-4);
    padding-right: var(--s-4);
  }
}

.RegistryForm-grid {
  &:first-of-type {
    padding-top: var(--s-4);
  }
  
  @media (--sm) {
    display: flex;
    flex-wrap: wrap;
  
    & > * {
      flex: 1 1 auto;
    }
  }
}

.RegistryForm-grid label {
  align-self: center;
  margin-bottom: var(--s-2);

  @media (--sm) {
    margin-bottom: 0;
    padding-right: var(--s-3);
    text-align: right;
    width: 25%;
  }
}

.RegistryForm-grid textarea {
  padding-top: var(--s-3);
  padding-bottom: var(--s-3);
  width: 100%;
}

.RegistryForm-grid input,
.RegistryForm-grid textarea,
.RegistryForm-fakeInput {
  border-color: var(--c-dbrule) !important;
  line-height: var(--flh-regular);

  &:hover,
  &:focus {
    border-color: var(--c-brand) !important;
  }

  @media (--sm) {
    padding-left: var(--s-3);
    width: 75%;
  }
}

.RegistryForm-fakeInput {
  @mixin input;
  display: flex;
  height: var(--field-height);
  padding: 0 1em;

  &:hover,
  &:focus {
    border-color: transparent !important;
    cursor: not-allowed;
  }
}

.RegistryForm-fakeInput,
.RegistryForm input:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--c-text) !important;

  & ~ .RegistryForm-note {
    margin-top: var(--s-2) !important;
  }
}

.RegistryForm-note {
  @mixin fs-textSmall;
  color: var(--c-textLight);
  margin-top: var(--s-3);
  padding: 0;

  @media (--sm) {
    margin-left: 25%;
  }
}

.RegistryForm-save {
  border-top: 1px solid var(--c-dbrule);
  // margin-top: var(--s-4);
  padding-top: var(--s-4);

  & input {
    // border-color: initial;
  }

  & .Button + .Button {
    margin-left: var(--s-2);
  }
}

