/* 

  https://codepen.io/necolas/pen/Aksni 

*/

@define-mixin CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.CoverImage {
  @mixin CoverImage;
}

/* THEME */

.CoverImage--home:before {
  background-color: rgba(137, 0, 99, 0.3);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.CoverImage--dark:before {
  background-image: linear-gradient(
    to bottom,
    rgba(3, 13, 24, 0.9) 0%,
    rgba(3, 13, 24, 0) 100%
  );
  background-blend-mode: multiply;
  content: " ";
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
}

.CoverImage--screen:before {
  background-image: linear-gradient(
    to bottom,
    rgba(3, 13, 24, 0.9) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  background-blend-mode: multiply;
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
}
