/* 

  Ref: https://jsfiddle.net/idobarnoam/k89ff3ay/1/

*/

.CloudinaryImage {
  @mixin absolutePin;
  @mixin CoverImage;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.CloudinaryImage.is-loaded {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.CloudinaryImage.xs {
  /* filter: blur(5px); */
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

.CloudinaryImage.xs.is-loaded {
  opacity: 0;
  transition: opacity 750ms ease-out 500ms;
}
