

// --------------------------------------------------------------------------
//   VARIABLE SETTINGS
// --------------------------------------------------------------------------


.s-cms-content {
	p {
		font-family: inherit;
		font-size: inherit;
		margin-bottom: 0;
	}
}
