---
title: Blog
layout: default
---

<header class="Header Header--halfRatio Header--rev u-bgBrand" role="banner">
	<div class="FlexEmbed">
		<div class="FlexEmbed-ratio"></div>
		<div class="FlexEmbed-content">
			<div
				class="u-posAbsoluteCenter CoverImage--dark"
				style="background-image: url('/uploads/blog-hero.png')">
			</div>
		</div>
	</div>
	<div class="Header-wrapper">
		<div class="Container u-textCenter">
			<a class="Header-logo" href="/">
				<img src="/uploads/logo-white.png" alt="{{ site.title }}">
			</a>
			<h1 class="Header-title u-marginT15">
				The Ocean Blue blog.
			</h1>
		</div>
	</div>
</header>

<main class="Content" role="main">
	<section class="Section">
		<div class="Grid Grid--withGutterLg">
			{% for post in site.posts %}
			<div class="Grid-cell u-xs-size1of2 u-sm-size1of3">
				<a class="Post" href="{{ post.url }}">
					<div class="Grid Grid--withGutter">
						<div class="Grid-cell">
							<figure class="Post-image">
								<img src="{{ post.list-image }}" alt="{{ post.title }}">
							</figure>
						</div>
						<div class="Grid-cell">
							<h1 class="Post-subtitle">{{ post.title }}</h1>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</section>
	<section class="Section u-paddingT0">
		<div class="Container Container--textColumn">
			{% include pathway-newsletter.html %}
		</div>
	</section>
</main>
