---
title: Blog
layout: default
---

<header class="Header Header--rev u-bgBrand" role="banner">
	<div class="FlexEmbed">
		<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
		<div class="FlexEmbed-content">
			<div
				class="u-posAbsoluteCenter CoverImage--dark"
				style="background-image: url('/_uploads/blog-hero.png')">
			</div>
		</div>
	</div>
	<div class="Header-wrapper">
		<div class="Container u-textCenter">
			<a class="Header-logo" href="/">
				<img src="/uploads/logo-white.png" alt="{{ site.title }}">
			</a>
			<h1 class="Header-title u-marginT15">
				The Ocean Blue blog.
			</h1>
		</div>
	</div>
</header>

<main class="Content" role="main">
	<section class="Section Pathway Pathway--rev u-bgBrand">
		<div class="Container">
		</div>
	</section>
</main>


<section class="Section u-marginT0">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-sm-size3of12 u-sm-display">
				<div class="Affix" data-spy="affix" data-offset-top="200">
					{% include post-aside.html %}
				</div>
			</div>
			<div class="Grid-cell u-sm-size9of12">
				{% for post in site.posts %}
					{% include post-in-list.html %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
