---
title: About
layout: default
image: "/uploads/about-hero-160812-team.jpg"
---

{% assign about = site.pages | where: 'title', 'about' | first  %}

<header class="Header" role="banner">
  <div class="FlexEmbed">
    <div class="FlexEmbed-ratio"></div>
    <div class="FlexEmbed-content">
      {% comment %}
      {% assign image = "/uploads/about-hero-160812-team" %}
      {% assign absolute = true %}
      {% include responsive-img.html %}
      {% endcomment %}
      {% assign image = "uploads/about-hero-160812-team.jpg" %}
      {% include responsive-img-cloudinary-hero.html %}
      <div class="u-posAbsoluteCenter CoverImage--dark">&nbsp;</div>
    </div>
  </div>
  <div class="u-absolutePin">
    <div class="u-flexChildrenCenter">
      <div class="Container Container--text">
        <h1 class="Title Title--reversed">
          {{ about.hero_headline }}
        </h1>
      </div>
    </div>
  </div>
  <div class="u-absolutePin">
    <div class="b-mt2 u-textCenter u-posRelative">
      <a class="Header-logo" href="/">
        <img src="/uploads/logo-white.png" alt="{{ site.title }}">
      </a>
    </div>
  </div>
</header>

<main class="Content" role="main">
  <section class="b-py3">
    <div class="Container Container--text b-mb2">
      {{ about.first_text | markdownify }}
    </div>

    {% comment %}
    <figure class="Figure--lg">
        <div class="FlexEmbed">
            <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
            <div class="FlexEmbed-content">
                <div class="videoWrapper js-videoWrapper">
                    <iframe class="u-posAbsoluteCenter js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="{{ about.video }}" width="100%" height="100%" ></iframe>
                    <button class="u-posAbsoluteCenter CoverImage videoPoster js-videoPoster" style="background-image:url('{{ about.video-image }}');">
                        <svg class="u-posAbsoluteCenter Icon Icon--super u-colorWhite">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-play"></use>
                        </svg>
                        Play video
                    </button>
                </div>
            </div>
        </div>
    </figure>

    <div class="Container Container--insetTextColumn">
        {{ about.second_text | markdownify }}
    </div>
    {% endcomment %}
    
    <div class="Container Container--text b-mb2">
      {% include pathway-primary.html %}
      <div class="m-b3">&nbsp;</div>
      {% include pathway-socials.html %}
    </div>
    <div class="Container Container--text">
      <hr class="bg-border b-mb2">
      {% include pathway-newsletter.html %}
    </div>
  </section>
</main>
