---
title: Applications
layout: default
---

{% assign applications = site.pages | where: 'title', 'applications' | first  %}

<header class="Header Header--light Header--halfRatio" role="banner">
  <div class="AspectRatio AspectRatio--halfHero">
    <div class="AspectRatio-content" style="opacity:0.7;">
      {% assign image = "uploads/appl-hero-160812-grinder.jpg" %}
      {% include responsive-img-cloudinary.html %}
    </div>
  </div>
  <div class="u-absolutePin">
    <div class="u-flexChildrenCenter">
      <div class="Container Container--text">
        <h1 class="Title">
          Architectural metalworks,<br>beautifully crafted
        </h1>
      </div>
    </div>
  </div>
  {% include hero-logo.html %}
</header>




<main class="Content" role="main">
  <section class="b-py3">
    <div class="Container">
      <div class="Tabs-container">
          
        <input id="Tab-1" type="radio" name="grp" checked="checked"/>
        <label for="Tab-1" class="Subheading">Screens</label>
        <div class="Tab">
          <div class="Container--text m-xA">
            <div class="b-py2">
              {{ applications.screens_first_text | markdownify }}
            </div>
          </div>
          {% comment %}
          {% assign image = "uploads/appl-screens.png" %}
          {% include responsive-img-cloudinary.html %}
          {% endcomment %}
          <img src="/uploads/appl-screens.png" alt="">
        </div>
        
        <input id="Tab-2" type="radio" name="grp" />
        <label for="Tab-2" class="Subheading">Gates</label>
        <div class="Tab">
          <div class="Container--text m-xA">
              <div class="b-py2">
                {{ applications.gates_first_text | markdownify }}
              </div>
          </div>
          <img src="/uploads/appl-gates.png" alt="">
        </div>

        <input id="Tab-3" type="radio" name="grp" />
        <label for="Tab-3" class="Subheading">Outdoor</label>
        <div class="Tab">
          <div class="Container--text m-xA">
            <div class="b-py2">
              {{ applications.outdoor_first_text | markdownify }}
            </div>
          </div>
          <img src="/uploads/appl-outdoor.png" alt="">
        </div>
        
        <input id="Tab-4" type="radio" name="grp" />
        <label for="Tab-4" class="Subheading">Commercial</label>
        <div class="Tab">
          <div class="Container--text m-xA">
            <div class="b-py2">
              {{ applications.commercial_first_text | markdownify }}
            </div>
          </div>
          <img src="/uploads/appl-outdoor.png" alt="">
        </div>

      </div>
    </div>
  </section>

  <section class="b-pb3">
    <div class="Container Container--text">
      <hr class="m-t0 b-mb2">
      {% include pathway-primary.html %}
    </div>
  </section>
</main>
