---
title: Applications
layout: default
image: "/uploads/appl-hero-160812-grinder.jpg"
---

{% assign applications = site.pages | where: 'title', 'applications' | first  %}

<header class="Header Header--light Header--halfRatio" role="banner">
    <div class="FlexEmbed">
        <div class="FlexEmbed-ratio"></div>
        <div class="FlexEmbed-content" style="opacity:0.7;">
            {% comment %}
            {% assign image = "/uploads/appl-hero-160812-grinder" %}
            {% assign absolute = true %}
            {% include responsive-img.html %}
            {% endcomment %}
            {% assign image = "uploads/appl-hero-160812-grinder.jpg" %}
            {% include responsive-img-cloudinary.html %}
        </div>
    </div>
    <div class="Header-wrapper">
        <div class="o-aligner">
            <div class="o-aligner-item">
                <div class="Container Container--withHero">
                    <h1 class="Header-title">
                        Architectural metalworks,<br>beautifully crafted.
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="Header-wrapper">
        <div class="Header-masthead">
            <a class="Header-logo" href="/">
                <img src="/uploads/logo.png" alt="{{ site.title }}">
            </a>
        </div>
    </div>
</header>






<main class="Content" role="main">
    {% comment %}
    {% endcomment %}
    
    <section class="Section--top">
        <div class="Container Container--textColumn Pathway-text">
            {{ applications.hero_description | markdownify }}
        </div>
    </section>

    <section class="Section--top Pathway">
        <div class="Container Container--sm">
            <div class="Tabs-container">
                
                <input id="Tab-one" type="radio" name="grp" checked="checked"/>
                <label for="Tab-one">Screens</label>
                <div class="Tab">
                    <div class="Container Container--textColumn Pathway-text">
                        {{ applications.screens_first_text | markdownify }}
                    </div>
                    <img src="/uploads/appl-screens.png" alt="">
                </div>
                
                <input id="Tab-two" type="radio" name="grp" />
                <label for="Tab-two">Gates</label>
                <div class="Tab">
                    <div class="Container Container--textColumn Pathway-text">
                        {{ applications.gates_first_text | markdownify }}
                    </div>
                    <img src="/uploads/appl-gates.png" alt="">
                </div>

                <input id="Tab-three" type="radio" name="grp" />
                <label for="Tab-three">Tab Three</label>
                <div class="Tab">
                    <div class="Container Container--textColumn Pathway-text">
                        {{ applications.outdoor_first_text | markdownify }}
                    </div>
                    <img src="/uploads/appl-outdoor.png" alt="">
                </div>

            </div>
        </div>
    </section>
    





    {% comment %}
    <div class="OldShit">
        <section class="Section--top Pathway">
            <div class="Container Container--textColumn">
                <!-- <figure class="u-textCenter">
                    <img class="Icon Icon--super" src="/uploads/ic-app-screens.png" alt="Screen applications icon" />
                </figure> -->
                <div class="Pathway-hgroup">
                    <h1 class="Pathway-title">Screens</h1>
                </div>
                <div class="Pathway-text">
                    {{ applications.screens_first_text | markdownify }}
                </div>
            </div>
            <figure class="Section--rg">
                <div class="carousel carousel--dragger carousel--light">
                    {% for image in applications.screens_carousel_images %}
                        <div class="carousel-cell">
                            <div class="FlexEmbed">
                                <div class="FlexEmbed-ratio"></div>
                                <div class="FlexEmbed-content">
                                    {% include responsive-img.html %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </figure>
            <div class="Container Container--textColumn">
                <div class="Pathway-text">
                    {{ applications.screens_second_text | markdownify }}
                </div>
                <div class="Pathway-action">
                    <a class="Button t-button" href="/design">Design + estimate →</a>
                </div>
            </div>
        </section>
        
        <section class="Section--top Pathway">
            <div class="Container Container--textColumn">
                <div class="Pathway-hgroup">
                    <h1 class="Pathway-title">Gates</h1>
                </div>
                <div class="Pathway-text">
                    {{ applications.gates_first_text | markdownify }}
                </div>
            </div>
            <figure class="Section--rg">
                <div class="carousel carousel--dragger carousel--light">
                    {% for image in applications.gates_carousel_images %}
                        <div class="carousel-cell">
                            <div class="FlexEmbed">
                                <div class="FlexEmbed-ratio"></div>
                                <div class="FlexEmbed-content">
                                    {% include responsive-img.html %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </figure>
            <div class="Container Container--textColumn">
                <div class="Pathway-text">
                    {{ applications.gates_second_text | markdownify }}
                </div>
                <div class="Pathway-action">
                    <a class="Button t-button" href="/design">Design + estimate →</a>
                </div>
            </div>
        </section>
        
        <section class="Section--top Pathway">
            <div class="Container Container--textColumn">
                <div class="Pathway-hgroup">
                    <h1 class="Pathway-title">Outdoor</h1>
                </div>
                <div class="Pathway-text">
                    {{ applications.outdoor_first_text | markdownify }}
                </div>
            </div>
            <figure class="Section--rg">
                <div class="carousel carousel--dragger carousel--light">
                    {% for image in applications.outdoor_carousel_images %}
                        <div class="carousel-cell">
                            <div class="FlexEmbed">
                                <div class="FlexEmbed-ratio"></div>
                                <div class="FlexEmbed-content">
                                    {% include responsive-img.html %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </figure>
            <div class="Container Container--textColumn">
                <div class="Pathway-text">
                    {{ applications.outdoor_second_text | markdownify }}
                </div>
                <div class="Pathway-action">
                    <a class="Button t-button" href="/design">Design + estimate →</a>
                </div>
            </div>
        </section>
    </div>
    {% endcomment %}

    {% comment %}
    <!-- pathway -->
    {% endcomment %}
    <section class="Section--cta">
        <div class="Container Container--textColumn">
            {% include pathway-primary.html %}
        </div>
    </section>

</main>
