---
title: Blog
layout: default
image: uploads/blog-hero-160812-barriersolutions.jpg
---

{% assign blog = site.pages | where: 'title', 'blog' | first  %}

<header class="Header" role="banner">
  <div class="AspectRatio AspectRatio--halfHero">
    <div class="AspectRatio-content">
      {% comment %}
      {% assign image = "/uploads/blog-hero-160812-barriersolutions" %}
      {% assign absolute = true %}
      {% include responsive-img.html %}
      {% endcomment %}
      {% assign image = "uploads/blog-hero-160812-barriersolutions.jpg" %}
      {% include responsive-img-cloudinary-hero.html %}
      <div class="u-posAbsoluteCenter CoverImage--dark">&nbsp;</div>
    </div>
  </div>
  <div class="u-absolutePin">
    <div class="u-flexChildrenCenter">
      <div class="Container Container--text">
        <h1 class="Title Title--reversed b-mt2">
          {{ blog.hero_headline }}
        </h1>
      </div>
    </div>
  </div>
  {% include hero-logo.html %}
</header>



<main class="Content" role="main">
  <section class="b-py3">
    <div class="Container Container--super">
      <div class="FlexGrid--lg u-flexJustifyCenter">

        {% for post in site.posts %}
        <div class="PostButton w-xs-1of2 w-lg-1of3">
          <a class="" href="{{ post.url }}">
            <div class="PostButton-content">
              <figure class="PostButton-image">
                {% assign image = post.hero_image %}
                {% include responsive-img-cloudinary.html %}
              </figure>
              <h1 class="Subheading u-textLeft m-t3">{{ post.title }}</h1>
              <div class="Post-meta">
                {% for tag in post.tags %}
                    <span class="Post-tag">{{ tag | capitalize }}</span>
                {% endfor %}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <section class="b-pb3">
    <div class="Container Container--text">
      <hr class="m-t0 b-mb2">
      {% include pathway-newsletter.html %}
    </div>
  </section>
</main>
