<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" >
	<meta name="viewport", content="width=device-width, initial-scale=1.0" >
    <title>{% if page.url != '/' %}{{ page.title }} | {% endif %}OceanBlue Living</title>
    {% seo title=false %}
	<meta name="author", content="{{ site.author }}" >
	<meta name="handheldfriendly", content="true" >
	<meta name="mobileoptimized", content="320" >
    <link rel="alternate" type="application/rss+xml" title="The OceanBlue Blog (RSS)" href="{{ site.url }}/feed.xml" />

    {% include critical-css.html %}
    {% include lazysize-scripts.html %}
    {% include lazysize-styles.html %}
    <!-- <link rel="stylesheet" href="/build/application.min.css"> -->
	<link rel="stylesheet" href="/build/application.css">
	<link rel="stylesheet" href="/build/owl.carousel.css">
    <link rel="stylesheet" href="https://npmcdn.com/flickity@2.0/dist/flickity.min.css">
</head>

<body id="top" class="{{page.title}} {{page.categories}}"
	data-spy="scroll" data-target="#scrollspy" data-offset="300">

	{% include nav-toggle.html %}

	{{ content }}

	{% include footer.html %}
	{% include nav.html %}
	{% include icons.html %}
	{% include icons-lg.html %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/build/lib.owl.carousel.min.js"></script>
	<!-- <script src="/build/lib.viewport-units-buggyfill.hacks.js"></script>
	<script src="/build/lib.viewport-units-buggyfill.js"></script>
	<script>
	  window.viewportUnitsBuggyfill.init({
		refreshDebounceWait: 50,
		hacks: window.viewportUnitsBuggyfillHacks
	  });
	</script> -->
    <script src="https://npmcdn.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
	<script src="/build/application.min.js"></script>
	<script src="/build/lib.modernizr.min.js"></script>
	{% include google-analytics.html %}

</body>
</html>
