<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

{% include head.html %}

<body id="top" class="{{page.title}} {{page.categories}}"
    data-spy="scroll" data-target="#scrollspy" data-offset="300">

    {% include nav-toggle.html %}
    
    <div class="Page">
      {{ content }}
    </div>

    {% include footer.html %}
    {% include nav.html %}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/public/js/lib.modernizr.min.js"></script>
    <script src="/public/js/component.cloudinary.js"></script>
    <script src="/public/js/component.navToggleReverseOut.js"></script>
    <script src="/public/js/component.modal.js"></script>
    
    {% include google-analytics.html %}

</body>
</html>
