---
title: Designs
layout: default
---

{% assign design = site.pages | where: 'title', 'design' | first  %}

<header class="Header" role="banner">
  <div class="AspectRatio AspectRatio--halfHero">
    <div class="AspectRatio-content" style="opacity:0.1;">
      {% assign image = "uploads/designs-hero-160812-dorahy.jpg" %}
      {% include responsive-img-cloudinary-hero.html %}
    </div>
  </div>
  <div class="u-absolutePin">
    <div class="u-flexChildrenCenter">
      <div class="Container Container--text">
        <h1 class="Title m-t3">
          {{ design.hero_headline }}
        </h1>
      </div>
    </div>
  </div>
  
  {% include hero-logo.html %}
  
</header>

<main class="Content" role="main">
  <section class="b-py3">
    <div class="Container Container--text">
      {{ design.content | markdownify }}
    </div>
  </section>
  <section class="b-pb3">
    <div class="Container">
      <div class="FlexGrid--designs u-flexJustifyCenter m-xA Designs--portrait">

        {% for image in site.static_files %}
          {% if image.path contains 'designs-rg' %}
            <div class="w-1of3 w-sm-1of6">
              <div class="Design-cell">
                <div class="AspectRatio">
                  <div class="AspectRatio-content">
                    <div
                      class="u-absolutePin CoverImage lazyload"
                      data-bg="{{ image.path }}">
                    </div>
                  </div>
                </div>
                <p class="Text--xs m-t2 m-b4">{{ image.path | remove:'/designs-rg/' | remove:'.png' | replace: '-', ' ' }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}

      </div>
      <div class="FlexGrid--designs u-flexJustifyCenter m-xA ">
        <div class="w-100">
          <div class="Design-cell Design-cell--12across">
            <div class="AspectRatio">
              <div class="AspectRatio-content">
                <div
                  class="u-absolutePin CoverImage lazyload"
                  data-bg="/designs-wide/Wild-Flowers.png">
                </div>
              </div>
            </div>
            <p class="Text--xs m-t2 m-b4">Wild Flowers</p>
          </div>
        </div>

        <div class="w-1of2">
          <div class="Design-cell Design-cell--4across">
            <div class="AspectRatio">
              <div class="AspectRatio-content">
                <div
                  class="u-absolutePin CoverImage lazyload"
                  data-bg="/designs-wide/Windy-Branch.png">
                </div>
              </div>
            </div>
            <p class="Text--xs m-t2 m-b4">Windy Branch</p>
          </div>
        </div>

        <div class="w-1of2">
          <div class="Design-cell Design-cell--4across">
            <div class="AspectRatio">
              <div class="AspectRatio-content">
                <div
                  class="u-absolutePin CoverImage lazyload"
                  data-bg="/designs-wide/Bottlebrush.png">
                </div>
              </div>
            </div>
            <p class="Text--xs m-t2 m-b4">Bottlebrush</p>
          </div>
        </div>

        <div class="w-1of2">
          <div class="Design-cell Design-cell--4across">
            <div class="AspectRatio">
              <div class="AspectRatio-content">
                <div
                  class="u-absolutePin CoverImage lazyload"
                  data-bg="/designs-wide/Dandelion.png">
                </div>
              </div>
            </div>
            <p class="Text--xs m-t2 m-b4">Dandelion</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="b-pb3">
    <div class="Container Container--text">
      <hr class="m-t0 b-mb2">
      {% include pathway-primary.html %}
    </div>
  </section>
</main>
