---
title: Designs
layout: default
image: "/uploads/designs-hero-160812-dorahy.jpg"
---

{% assign design = site.pages | where: 'title', 'design' | first  %}

<header class="Header Header--light Header--halfRatio" role="banner">
    <div class="FlexEmbed">
        <div class="FlexEmbed-ratio"></div>
        <div class="FlexEmbed-content" style="opacity:0.1;">
            {% assign image = "designs-hero-160812-dorahy.jpg" %}
            {% include responsive-img-cloudinary-halfHero.html %}
            <!-- <div class="u-posAbsoluteCenter FlexEmbed-content--dark">&nbsp;</div> -->

        </div>
    </div>
    <div class="Header-wrapper">
        <div class="o-aligner">
            <div class="o-aligner-item">
                <div class="Container">
                    <h1 class="Header-title">
                        {{ design.hero_headline }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="Header-wrapper">
        <div class="Header-masthead">
            <a class="Header-logo" href="/">
                <img src="/uploads/logo.png" alt="{{ site.title }}">
            </a>
        </div>
    </div>
</header>

<main class="Content" role="main">
    <section class="Section--top">
        <div class="Container Container--insetTextColumn">
            {{ design.content | markdownify }}
        </div>
    </section>
    <section class="Section--top">
        <div class="Container Container--sm">
            <div class="Grid Grid--withGutter Grid--alignCenter PortraitDesigns">

                {% for image in site.static_files %}
                    {% if image.path contains 'designs-rg' %}
                        <div class="Grid-cell u-size1of3 u-sm-size1of6">
                            <div class="Design-cell">
                                <div class="FlexEmbed">
                                    <div class="FlexEmbed-ratio"></div>
                                    <div class="FlexEmbed-content">
                                        <div
                                            class="u-posAbsoluteCenter CoverImage lazyload"
                                            data-bg="{{ image.path }}">
                                        </div>
                                        <!-- <img
                                            class="u-posAbsoluteCenter FlexEmbed-fitImage lazyload ls-blur"
                                            alt="{{ alt }}"
                                            data-src="{{ image.path }}"
                                            /> -->
                                    </div>
                                </div>
                                <p>{{ image.path | remove:'/designs-rg/' | remove:'.png' | replace: '-', ' ' }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="Grid Grid--withGutter Grid--alignCenter">
                <div class="Grid-cell Grid-cell--center">
                    <div class="Design-cell Design-cell--wide Design-cell--12across">
                        <div class="FlexEmbed">
                            <div class="FlexEmbed-ratio"></div>
                            <div class="FlexEmbed-content">
                                <div
                                    class="u-posAbsoluteCenter CoverImage lazyload"
                                    data-bg="/designs-wide/Wild-Flowers.png">
                                </div>
                            </div>
                        </div>
                        <p>Wild Flowers</p>
                    </div>
                </div>

                <div class="Grid-cell u-size1of2">
                    <div class="Design-cell Design-cell--wide Design-cell--4across">
                        <div class="FlexEmbed">
                            <div class="FlexEmbed-ratio"></div>
                            <div class="FlexEmbed-content">
                                <div
                                    class="u-posAbsoluteCenter CoverImage lazyload"
                                    data-bg="/designs-wide/Windy-Branch.png">
                                </div>
                            </div>
                        </div>
                        <p>Windy Branch</p>
                    </div>
                </div>

                <div class="Grid-cell u-size1of2">
                    <div class="Design-cell Design-cell--wide Design-cell--4across">
                        <div class="FlexEmbed">
                            <div class="FlexEmbed-ratio"></div>
                            <div class="FlexEmbed-content">
                                <div
                                    class="u-posAbsoluteCenter CoverImage lazyload"
                                    data-bg="/designs-wide/Bottlebrush.png">
                                </div>
                            </div>
                        </div>
                        <p>Bottlebrush</p>
                    </div>
                </div>

                <div class="Grid-cell Grid-cell--center u-size1of2">
                    <div class="Design-cell Design-cell--wide Design-cell--4across">
                        <div class="FlexEmbed">
                            <div class="FlexEmbed-ratio"></div>
                            <div class="FlexEmbed-content">
                                <div
                                    class="u-posAbsoluteCenter CoverImage lazyload"
                                    data-bg="/designs-wide/Dandelion.png">
                                </div>
                            </div>
                        </div>
                        <p>Dandelion</p>
                    </div>
                </div>

                <!-- <div class="Grid-cell Grid-cell--center u-sm-size6of12">
                    <div class="Design-cell Design-cell--3across">
                        <div class="FlexEmbed">
                            <div class="FlexEmbed-ratio"></div>
                            <div class="FlexEmbed-content">
                                <div
                                    class="u-posAbsoluteCenter CoverImage lazyload"
                                    data-bg="/designs-wide/Australian-Bush.png">
                                </div>
                            </div>
                        </div>
                        <p>Australian Bush</p>
                    </div>
                </div> -->

            </div>
        </div>
    </section>







    <section class="Section--cta">
        <div class="Container Container--textColumn">
            {% include pathway-primary.html %}
        </div>
    </section>
</main>
