---
title: designs
layout: default
---

{% assign design = site.pages | where: 'title', 'design' | first  %}

<header class="Header Header--halfRatio Header--rev" role="banner">
	<div class="FlexEmbed">
		<div class="FlexEmbed-ratio"></div>
		<div class="FlexEmbed-content">
			<div class="Header-masthead">
				<a class="Header-logo" href="/">
					<img src="/uploads/logo-white.png" alt="{{ site.title }}">
				</a>
			</div>
			<div
				class="u-posAbsoluteCenter CoverImage--dark"
				style="background-image: url('{{ design.hero_image }}')">
			</div>
		</div>
	</div>
	<div class="Header-wrapper">
		<div class="o-aligner">
			<div class="o-aligner-item">
				<div class="Container">
					<h1 class="Header-title">
						{{ design.hero_headline }}
					</h1>
				</div>
			</div>
		</div>
	</div>
</header>

<main class="Content" role="main">
	<section class="Section">
		<div class="Container">

			<div class="Grid Grid--withGutter Grid--alignCenter">

				{% for image in site.static_files %}
					{% if image.path contains 'designs-rg' %}
						<div class="Grid-cell u-size1of2 u-sm-size1of5">
							<!-- <div class="Design">
								<img src="{{ image.path }}" alt="{{ image.name }}" />
								<p>{{ image.path | remove:'/designs/' | remove:'.png' }}</p>
							</div> -->
							<div class="Design-cell">
								<div class="FlexEmbed">
									<div class="FlexEmbed-ratio"></div>
									<div class="FlexEmbed-content">
										<div
											class="u-posAbsoluteCenter CoverImage lazyload"
											data-bg="{{ image.path }}">
										</div>
									</div>
								</div>
								<p>{{ image.path | remove:'/designs-rg/' | remove:'.png' | replace: '-', ' ' }}</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}

				<div class="Grid-cell Grid-cell--center u-sm-size8of12">
					<div class="Design-cell Design-cell--4across msm-Section--smTop">
						<div class="FlexEmbed">
							<div class="FlexEmbed-ratio"></div>
							<div class="FlexEmbed-content">
								<div
									class="u-posAbsoluteCenter CoverImage lazyload"
									data-bg="/designs-wide/Windy-Branch.png">
								</div>
							</div>
						</div>
						<p>Windy Branch</p>
					</div>
				</div>

				<div class="Grid-cell Grid-cell--center u-sm-size6of12">
					<div class="Design-cell Design-cell--3across">
						<div class="FlexEmbed">
							<div class="FlexEmbed-ratio"></div>
							<div class="FlexEmbed-content">
								<div
									class="u-posAbsoluteCenter CoverImage lazyload"
									data-bg="/designs-wide/Australian-Bush.png">
								</div>
							</div>
						</div>
						<p>Australian Bush</p>
					</div>
				</div>

			</div>
		</div>

		<div class="Container Container--textColumn Post--article-ruleOff"></div>
	</section>







	<section class="Section--rg">
		<div class="Container Container--textColumn Container--ruleTop">
			{% include pathway-primary.html %}
		</div>
	</section>
</main>
