---
title: Gallery
layout: default
---

{% assign gallery = site.pages | where: 'title', 'gallery' | first  %}

<header class="Header" role="banner">
  <div class="AspectRatio AspectRatio--halfHero">
  </div>
  <div class="u-absolutePin">
    <div class="u-flexChildrenCenter">
      <div class="Container Container--text">
        <h1 class="Title Title--reversed b-mt2">
          {{ gallery.hero_headline }}
        </h1>
      </div>
    </div>
  </div>
  {% include hero-logo.html %}
</header>





<main class="Content" role="main">
  <!-- <section class="b-py3">
    <div class="Container Container--text">
      {{ gallery.content | markdownify }}
    </div>
  </section> -->
  <section class="b-pb3">
    <div class="Container Container--super">
      <div class="FlexGrid--designs u-flexJustifyCenter">
        
        {% for image in gallery.gallery-images %}
          <div class="w-1of2 w-sm-1of3">
            <a class="u-linkPointer" type="w-100" data-modal-toggle data-modal-id="gallery" data-src="{{ image }}">
              <div class="AspectRatio AspectRatio--4x3">
                <div class="AspectRatio-content">
                  {% comment %}
                  <div
                    class="u-absolutePin CoverImage lazyload"
                    data-bg="{{ image.path }}">
                  </div> 
                  <div
                    class="u-absolutePin CoverImage"
                    style="background-image:url('{{ image }}')">
                  </div>
                  {% endcomment %}
                  {% assign image = {{ image.path }} %}
                  {% include responsive-img-cloudinary-gallerythumb.html %}
                  
                </div>
              </div>
              <p class="Text--xs c-bg m-t2 m-b4">{{ image.path | remove:'/designs-rg/' | remove:'.png' | replace: '-', ' ' }}</p>
            </a>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <section class="b-pb3">
    <div class="Container Container--text">
      <hr class="m-t0 b-mb2">
      {% include pathway-primary.html %}
    </div>
  </section>
</main>

<div class="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal data-modal-id="gallery">
  <div class="Modal-dialog" role="document">
    <span class="Nav-toggle is-reversedOut">
      <button class="u-icon u-icon--close">
        {% include icons/close.html %}
      </button>
    </span>

    <div class="u-fullScreen u-linkPointer">
      <div class="u-flexChildrenCenter">
        <div class="Container Container--hero u-textCenter">
          <img src="" alt="">
          {% comment %}
          <div class="AspectRatio AspectRatio--16x9">
            <div class="AspectRatio-content">
              <div class="CloudinaryImage is-loaded" 
                  style="background-image: url('https://res.cloudinary.com/pw-img-cdn/image/fetch/w_2500,h_1406,c_fill,g_center,f_auto/https://www.oceanblueliving.com.au/{{ image }}')"
              ></div>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>

  </div>
</div>
