---
title: Home
layout: default
image: uploads/home-hero-160812-vince.jpg
---

{% comment %}
FYI: old way of adding a responsive image:
{% assign image = "uploads/home-about-160812-duo" %}
{% assign alt = "Vince & LeaAnne Cassaniti, Ocean Blue Living" %}
{% include responsive-img.html %}
{% endcomment %}

{% assign header       = site.home | where: 'title', 'header' | first  %}
{% assign applications = site.home | where: 'title', 'applications' | first  %}
{% assign design       = site.home | where: 'title', 'design' | first  %}
{% assign about        = site.home | where: 'title', 'about' | first  %}

<header class="Header" role="banner">
  <div 
    class="gallery js-flickity" 
    data-flickity='{ "prevNextButtons": false, "pageDots": false, "draggable": false, "autoPlay": 4000 }'
  >
    {% for image in header.gallery-images %}
      <div class="gallery-cell">
        <div class="AspectRatio AspectRatio--hero">
          <div class="AspectRatio-content">
            {% include responsive-img-cloudinary-hero.html %}
          </div>
          <div class="AspectRatio-content CoverImage--dark">&nbsp;</div>
        </div>
      </div>
    {% endfor %}
  </div>
  
  <div class="u-absolutePin" style="z-index:8">
    <div class="u-flexChildrenCenter">
      <div class="Container Container--text">
        <h1 class="Title Title--reversed m-t3">
          {{ header.hero_headline }}
        </h1>
      </div>
    </div>
  </div>
  <div class="u-absolutePin" style="z-index:8">
    <div class="b-mt1 u-textCenter u-posRelative">
      <a class="Header-logo" href="/">
        <img src="/uploads/logo-white.png" alt="{{ site.title }}">
      </a>
    </div>
  </div>
</header>

<main class="" role="main">
    <section class="b-py3">
      <div class="Container Container--text m-b5">
        <div class="m-b4">
          <figure class="u-icon u-icon--lg m-b1 u-textCenter w-100">
            <svg version="1.1" viewbox="0 0 54 54">
              {% include icons/services.html %}
            </svg>
          </figure>
          <h1 class="Heading">{{ applications.headline }}</h1>
        </div>
        {{ applications.first-p | markdownify }}
      </div>
      
      <div class="Container Container--lg">
        <div class="FlexGrid--categoryButtons m-b5">
          <div class="w-sm-1of3">
            <a href="/applications" class="Category-button">
              <div class="Category-image">
                {% assign image = "uploads/obl-screen-hillviewcres-purplepool-detail.jpg" %}
                {% include responsive-img-cloudinary.html %}
              </div>
              <h2 class="Subheading m-y3">Screens</h2>
            </a>
          </div>
          <div class="w-sm-1of3">
            <a href="/applications" class="Category-button">
              <div class="Category-image">
                {% assign image = "uploads/obl-gate-midshipst-portrait-detail.jpg" %}
                {% include responsive-img-cloudinary.html %}
              </div>
              <h2 class="Subheading m-y3">Gates</h2>
            </a>
          </div>
          <div class="w-sm-1of3">
            <a href="/applications" class="Category-button">
              <div class="Category-image">
                {% assign image = "uploads/obl-outdoor-midshipst-portrait-firepit.jpg" %}
                {% include responsive-img-cloudinary.html %}
              </div>
              <h2 class="Subheading m-y3">Outdoor</h2>
            </a>
          </div>
        </div>
        <div class="u-textCenter">
          <a class="Button" href="/applications">{{ applications.button }}</a>
        </div>
      </div>
      
      {% comment %}
      <div class="Container Container--text">
          <div class="Pathway-text">
              {{ applications.second-p | markdownify }}
          </div>
          <div class="Pathway-action">
              <a class="Button t-button--rev" href="/applications">{{ applications.button }}</a>
          </div>
      </div>
      {% endcomment %}
    </section>
    
    {% comment %}
    <!-- applications gallery -->
    <section class="Section--top Pathway Pathway--rev">
        <div class="Container Container--fullWidthMobile">
            <div class="Gallery">
                <div class="Gallery-body">
                    <div class="Gallery-items js-galleryWithCount">
                        {% for image in applications.gallery-images %}
                            <div class="Gallery-item">
                                <div class="AspectRatio">
                                    <div class="AspectRatio-ratio AspectRatio-ratio--16by9"></div>
                                    <div class="AspectRatio-content">
                                        {% include responsive-img-cloudinary.html %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="Gallery-arrows"></div>
                </div>
                <div class="Gallery-footer">
                    <span class="js-GalleryCurrentItem"></span> / <span class="js-GalleryTotalItems"></span>
                </div>
            </div>
        </div>
    </section>
    
    <section class="b-py3 Top Pathway Pathway--rev">
        <div class="Container Container--text">
            <div class="Pathway-hgroup">
                <figure class="Pathway-icon">
                    <svg class="Icon Icon--lg u-colorWhite">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-estimate"></use>
                    </svg>
                </figure>
                <h1 class="Pathway-title">{{ design.headline }}</h1>
            </div>
            <div class="Pathway-text">
                {{ design.content }}
            </div>
            <div class="Pathway-action">
                <a class="Button t-button--rev" href="/design">{{ design.button }}</a>
            </div>
        </div>
    </section>
    {% endcomment %}
    
    <section class="b-py3 bg-neutralAlt">
      <div class="Container Container--text">
        <div class="m-b5">
          <figure class="u-icon u-icon--lg m-b1 u-textCenter w-100">
            <svg version="1.1" viewbox="0 0 54 54">
              {% include icons/about.html %}
            </svg>
          </figure>
          <h1 class="Heading">{{ about.headline }}</h1>
        </div>
      </div>
      <div class="Container p-msm-x0">
        <figure class="m-b5">
          <div class="AspectRatio AspectRatio--4x3">
            <div class="AspectRatio-content">
              {% assign image = "uploads/home-about-160812-duo.jpg" %}
              {% assign alt = "Vince and LeaAnne Cassiniti" %}
              {% include responsive-img-cloudinary.html %}
            </div>
          </div> 
        </figure>
      </div>
      <div class="Container Container--text">
        {{ about.content }}
        <div class="m-t4 u-textCenter">
          <a class="Button" href="/about">{{ about.button }}</a>
        </div>
      </div>
    </section>

    <!-- blog -->
    <section class="Section u-bgBrandLightDarkened">
      {% for post in site.posts | limit: 1 %}
        <a href="{{ post.url }}">
          <article class="Post--article">
            <header class="Header Header--rev">
              <div class="AspectRatio AspectRatio--hero">
                <div class="AspectRatio-content">
                  {% assign image = post.hero_image %}
                  {% include responsive-img-cloudinary-hero.html %}
                </div>
                <div class="AspectRatio-content CoverImage--screen">&nbsp;</div>
              </div>
              <div class="u-absolutePin">
                <div class="u-flexChildrenCenter">
                  <div class="Container Container--xs">
                    <figure class="u-icon u-icon--lg c-bg m-b1 u-textCenter w-100">
                      <svg version="1.1" viewbox="0 0 54 54">
                        {% include icons/blog.html %}
                      </svg>
                    </figure>
                    <h1 class="Heading c-bg">The OceanBlue blog</h1>
                    <hr class="bg-bg m-y4">
                    <h1 class="Heading c-bg">{{ post.title }}</h1>
                    <div class="Post-meta c-bg u-textCenter">
                      {% comment %}
                      {% for tag in page.tags %}
                          <a class="Post-tag" href="/blog/tags/{{ tag | downcase | replace:' ','+' }}">{{ tag | capitalize }}</a>
                      {% endfor %}
                      {% endcomment %}
                      <span class="Post-tag">{{ post.tags | first | capitalize }}</span>
                      &nbsp;&nbsp;|&nbsp;&nbsp;
                      <span class="Post-date">{{ post.date | date: "%B %d, %Y" }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </header>
          </article>
        </a>
      {% endfor %}
    </section>
</main>
