---
title: Home
layout: default
image: uploads/home-hero-160812-vince.jpg
---

{% comment %}
FYI: old way of adding a responsive image:
{% assign image = "uploads/home-about-160812-duo" %}
{% assign alt = "Vince & LeaAnne Cassaniti, Ocean Blue Living" %}
{% include responsive-img.html %}
{% endcomment %}

{% assign header       = site.home | where: 'title', 'header' | first  %}
{% assign applications = site.home | where: 'title', 'applications' | first  %}
{% assign design       = site.home | where: 'title', 'design' | first  %}
{% assign about        = site.home | where: 'title', 'about' | first  %}

<header class="Header Header--fullRatio Header--rev" role="banner">
    <div class="Gallery">
        <div class="Gallery-body">
            <div class="Gallery-items js-gallery">
                {% for image in header.gallery-images %}
                    <div class="Gallery-cell">
                        <div class="FlexEmbed">
                            <div class="FlexEmbed-ratio"></div>
                            <div class="FlexEmbed-content">
                                {% include responsive-img-cloudinary-hero.html %}
                            </div>
                            <div class="FlexEmbed-content FlexEmbed-content--dark">&nbsp;</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="Header-wrapper">
        <div class="o-aligner">
            <div class="o-aligner-item">
                <div class="Container Container--withinHero">
                    <h1 class="Header-display">
                        {{ header.hero_headline }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="Header-wrapper Header-wrapper--top">
        <div class="Header-masthead">
            <a class="Header-logo" href="/">
                <img src="uploads/logo-white.png" alt="{{ site.title }}">
            </a>
        </div>
    </div>
</header>





<main class="Content" role="main">
        
    <section class="Section--lg">
        <div class="Container Container--textColumn">
            <div class="Pathway-hgroup">
                <figure class="Pathway-icon">
                    <svg class="Icon Icon--lg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-services"></use>
                    </svg>
                </figure>
                <h1 class="Pathway-title">{{ applications.headline }}</h1>
            </div>
            <div class="Pathway-text">
                {{ applications.first-p | markdownify }}
            </div>
        </div>
        
        <div class="Categories">
            <div class="Container Container--lg">
                <div class="Grid Grid--withBoxedCells">
                    <div class="Grid-cell u-size1of3">
                        <a href="/applications" class="Category-button">
                            <div class="Category-image">
                                {% assign image = "uploads/obl-screen-hillviewcres-purplepool-detail.jpg" %}
                                {% include responsive-img-cloudinary.html %}
                            </div>
                            Screens
                        </a>
                    </div>
                    <div class="Grid-cell u-size1of3">
                        <a href="/applications" class="Category-button">
                            <div class="Category-image">
                                {% assign image = "uploads/obl-gate-midshipst-portrait-detail.jpg" %}
                                {% include responsive-img-cloudinary.html %}
                            </div>
                            Gates
                        </a>
                    </div>
                    <div class="Grid-cell u-size1of3">
                        <a href="/applications" class="Category-button">
                            <div class="Category-image">
                                {% assign image = "uploads/obl-outdoor-midshipst-portrait-firepit.jpg" %}
                                {% include responsive-img-cloudinary.html %}
                            </div>
                            Outdoor
                        </a>
                    </div>
                </div>
                <div class="Pathway-action">
                    <a class="Button t-button--rev" href="/applications">{{ applications.button }}</a>
                </div>
            </div>
        </div>
        
        {% comment %}
        <div class="Container Container--textColumn">
            <div class="Pathway-text">
                {{ applications.second-p | markdownify }}
            </div>
            <div class="Pathway-action">
                <a class="Button t-button--rev" href="/applications">{{ applications.button }}</a>
            </div>
        </div>
        {% endcomment %}
    </section>
    
    {% comment %}
    <!-- applications gallery -->
    <section class="Section--top Pathway Pathway--rev">
        <div class="Container Container--fullWidthMobile">
            <div class="Gallery">
                <div class="Gallery-body">
                    <div class="Gallery-items js-galleryWithCount">
                        {% for image in applications.gallery-images %}
                            <div class="Gallery-item">
                                <div class="FlexEmbed">
                                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                                    <div class="FlexEmbed-content">
                                        {% include responsive-img-cloudinary.html %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="Gallery-arrows"></div>
                </div>
                <div class="Gallery-footer">
                    <span class="js-GalleryCurrentItem"></span> / <span class="js-GalleryTotalItems"></span>
                </div>
            </div>
        </div>
    </section>
    
    <section class="Section--lgTop Pathway Pathway--rev">
        <div class="Container Container--textColumn">
            <div class="Pathway-hgroup">
                <figure class="Pathway-icon">
                    <svg class="Icon Icon--lg u-colorWhite">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-estimate"></use>
                    </svg>
                </figure>
                <h1 class="Pathway-title">{{ design.headline }}</h1>
            </div>
            <div class="Pathway-text">
                {{ design.content }}
            </div>
            <div class="Pathway-action">
                <a class="Button t-button--rev" href="/design">{{ design.button }}</a>
            </div>
        </div>
    </section>
    {% endcomment %}
    
    <section class="Section--lg u-bgBrandSuperLight">
        <div class="Container Container--textColumn">
            <div class="Pathway-hgroup">
                <figure class="Pathway-icon">
                    <svg class="Icon Icon--lg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-about"></use>
                    </svg>
                </figure>
                <h1 class="Pathway-title">{{ about.headline }}</h1>
            </div>
        </div>
        <div class="Container Container--fullWidthMobileSm">
            <figure class="Figure">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--4by3"></div>
                    <div class="FlexEmbed-content">
                        {% assign image = "uploads/home-about-160812-duo.jpg" %}
                        {% assign alt = "Vince and LeaAnne Cassiniti" %}
                        {% include responsive-img-cloudinary.html %}
                    </div>
                </div> 
            </figure>
        </div>
        <div class="Container Container--textColumn">
            <div class="Pathway-text">
                {{ about.content }}
            </div>
            <div class="Pathway-action">
                <a class="Button t-button--rev" href="/about">{{ about.button }}</a>
            </div>
        </div>
    </section>

    <!-- blog -->
    <section class="Section u-bgBrandLightDarkened">
        {% for post in site.posts | limit: 1 %}
            <a href="{{ post.url }}">
                <article class="Post--article">
                    <header class="Header Header--fullRatio Header--rev">
                        <div class="FlexEmbed">
                            <div class="FlexEmbed-ratio"></div>
                            <div class="FlexEmbed-content">
                                {% assign image = post.hero_image %}
                                {% include responsive-img-cloudinary-hero.html %}
                            </div>
                            <div class="FlexEmbed-content FlexEmbed-content--screen">&nbsp;</div>
                        </div>
                        <div class="Header-wrapper">
                            <div class="o-aligner">
                                <div class="o-aligner-item">
                                    <div class="Container Container--withinHero">
                                        
                                        <figure class="Pathway-icon">
                                            <svg class="Icon Icon--lg u-colorWhite">
                                                <use xlink:href="#ic-blog"></use>
                                            </svg>
                                        </figure>
                                        <h1 class="Header-title">The Ocean Blue blog.</h1>
                                        
                                        <div class="Section--blogPostTitle">
                                            <div class="Container Container--textColumn">
                                                <h1 class="Post-title u-colorWhite">{{ post.title }}</h1>
                                                <div class="Post-meta">
                                                    {% comment %}
                                                    {% for tag in page.tags %}
                                                        <a class="Post-tag" href="/blog/tags/{{ tag | downcase | replace:' ','+' }}">{{ tag | capitalize }}</a>
                                                    {% endfor %}
                                                    {% endcomment %}
                                                    <span class="Post-tag">{{ post.tags | first | capitalize }}</span>
                                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                                    <span class="Post-date">{{ post.date | date: "%B %d, %Y" }}</span>
                                                </div>
                                            </div>
                                        </div>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    {% comment %}
                    <div class="Container Container--textColumn">
                        {{ post.content }}
                        
                        <section class="Section--afterArticleBlock">
                            <div class="u-textCenter">
                                <a class="Headline--minor" href="/blog">View all posts →</a>
                            </div>
                            
                            u-floatRight
                            <h3 class="Headline--minor">Share this</h3>
                            {% include share.html %}
                        </section>
                        
                    </div>
                    {% endcomment %}
                </article>
            </a>
        {% endfor %}
    </section>

    {% comment %}
    <section class="Section--cta u-bgWhite">
        <div class="Container Container--textColumn">
            {% include pathway-blog.html %}
        </div>
    </section>
    {% endcomment %}

</main>
