---
layout: default
---

<article class="Post--article" role="main">
  <header class="Header" role="banner">
    <div class="AspectRatio AspectRatio--halfHero">
      <div class="u-absolutePin">
        <div class="u-flexChildrenCenter">
          <div class="Container Container--text">
            <h1 class="Title m-t5">
              {{ page.title }}
            </h1>
            <div class="Post-meta u-textCenter">
              {% for tag in page.tags %}
                <!-- <a class="Post-tag" href="/blog/tags/{{ tag | downcase | replace:' ','+' }}">{{ tag | capitalize }}</a> -->
                <span class="Post-tag">{{ tag | capitalize }}</span>
              {% endfor %}
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <span class="Post-date">{{ page.date | date: "%B %d, %Y" }}</span>
            </div>
          </div>
        </div>
      </div>
      {% include hero-logo.html %}
    </div>
  </header>

  <div class="AspectRatio AspectRatio--hero">
    <div class="AspectRatio-content">
      {% assign image = page.hero_image %}
      {% include responsive-img-cloudinary-hero.html %}
    </div>
  </div>

  <section class="b-py3">
    <div class="Container Container--text">

      {{ content }}

      {% comment %}
      <h3 class="Text--meta c-gray u-marginT3">Author</h3>
      <p class="Post-author">{{ page.author }}</p>
      {% endcomment %}
      <div class="b-mt2">
        <div class="FlexGrid">
          <div class="u-flex u-flexJustifyCenter u-sm-flexJustifyStart">
            <span class="Text--meta c-gray">Share this</span>
            {% include pathway-share.html %}
          </div>
          <div class="u-textCenter u-sm-textRight m-t3 m-sm-t0">
            <a class="Text--meta c-gray" href="/blog">View all posts →</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</article>

<section class="b-pb3">
  <div class="Container Container--text">
    <hr class="m-t0 b-mb2">
    {% include pathway-newsletter.html %}
  </div>
</section>
