---
layout: default
---

<article class="Post--article" role="main">

	<section class="Section">
		<div class="Container Container--textColumn">
			<div class="Post-header">
				<div class="Post-meta">
					{% for tag in page.tags %}
						<a class="Post-tag" href="/blog/tags/{{ tag | downcase | replace:' ','+' }}">{{ tag | capitalize }}</a>
					{% endfor %}
					<a class="Post-tag" href="/blog/tags/{{ page.tags }}">{{ post.tags | first | capitalize }}</a>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<span class="Post-date">{{ page.date | date: "%B %d, %Y" }}</span>
				</div>
				<h1 class="Post-title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
			</div>
		</div>
	</section>

	<div class="FlexEmbed">
		<div class="FlexEmbed-ratio"></div>
		<div class="FlexEmbed-content">
			<div
				class="u-posAbsoluteCenter CoverImage"
				style="background-image: url('{{ page.hero-image }}')">
			</div>
		</div>
	</div>

	<section class="Section--top">
		<div class="Container Container--textColumn Post--article-ruleOff">

			{{ content }}

			<h3 class="Headline--minor u-marginT3">Author</h3>
			<p class="Post-author">{{ page.author }}</p>
			<h3 class="Headline--minor u-marginT3">Share</h3>
			{% include share.html %}
		</div>
	</section>

</article>

<section class="Section--rg">
	<div class="Container Container--textColumn">
		{% include pathway-blog.html %}
		{% include pathway-newsletter.html %}
	</div>
</section>
