---
layout: default
---

<article class="Post--article" role="main">

	<section class="Section">
		<div class="Container Container--textColumn">
			<div class="Post-header">
				<div class="Post-meta">
					{% for tag in page.tags %}
						<!-- <a class="Post-tag" href="/blog/tags/{{ tag | downcase | replace:' ','+' }}">{{ tag | capitalize }}</a> -->
						<span class="Post-tag">{{ tag | capitalize }}</span>
					{% endfor %}
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<span class="Post-date">{{ page.date | date: "%B %d, %Y" }}</span>
				</div>
				<h1 class="Post-title">{{ page.title }}</h1>
			</div>
		</div>
	</section>

	<div class="FlexEmbed">
		<div class="FlexEmbed-ratio"></div>
		<div class="FlexEmbed-content">
            {% assign imagePath = "/uploads/post-" %}
            <img
                class="FlexEmbed-fitImage lazyload ls-blur"
                alt="{{ alt }}"
                src="{{ imagePath }}{{ page.slug }}-src.jpg"
                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-srcset="{{ imagePath }}{{ page.slug }}-xs.jpg 1200w, {{ imagePath }}{{ page.slug }}.jpg 2000w"
                data-sizes="auto"
                />
		</div>
	</div>

	<section class="Section--top">
		<div class="Container Container--textColumn Post--article-ruleOff">

			{{ content }}

			<!-- <h3 class="Headline--minor u-marginT3">Author</h3>
			<p class="Post-author">{{ page.author }}</p> -->
			<h3 class="Headline--minor u-marginT3">Share</h3>
			{% include share.html %}
		</div>
	</section>

</article>

<section class="Section--rg">
	<div class="Container Container--textColumn">
		{% include pathway-blog.html %}
		{% include pathway-newsletter.html %}
	</div>
</section>
