/* 

  See:
  https://jonathan-harrell.com/experiment/advanced-form-styling/
  https://jonathan-harrell.com/advanced-css-form-styling/
  https://jonathanharrell.github.io/hiq/guide/forms-inputs/

 */

.t-form-group {
}

.t-form-group input[type="email"] {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--c-gray) !important;
  font-size: var(--fs-textSm);
}

.t-form-group input:placeholder-shown + label {
  opacity: 0;
  top: 0;
  transform: translateY(1rem);
}

.t-form-group input[type="email"]:valid {
  border-color: var(--c-success);
  background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.t-form-group label {
  position: absolute;
  top: 50%;
  font-size: var(--fs-textXs);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.t-form-group input[type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
