/*

  CSS-ONLY TABS COMPONENT
  http://youmightnotneedjs.com/#tabs
  http://codepen.io/vulpesigni/pen/yyZYNy?editors=1100

*/

.Tabs-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;

  & label {
    background: var(--c-brandNeutral);
    border: 1px solid #ddd;
    padding: 0.7em 0.5em;
    cursor: pointer;
    z-index: 1;
    margin-left: -1px;
    position: relative;

    @media (--md) {
      padding: 0.7em 1.5em;
    }
  }

  & label:first-of-type {
    margin-left: auto;
  }

  & label:last-of-type {
    margin-right: auto;
  }
}

/* the magic */

.Tabs-container {
  & .Tab {
    width: 100%;
    margin-top: -1px;
    border-top: 1px solid #ddd;
    order: 1;
  }

  & input[type="radio"],
  & .Tab {
    display: none;
  }

  & input[type="radio"]:checked + label {
    background: #fff;
    border-bottom: 1px solid #fff;
  }

  & input[type="radio"]:checked + label + .Tab {
    display: block;
  }
}

/* theme */

.Tabs-container img {
  @media (--lg) {
  }
}

.Tabs-container .Subheading {
  @media (max-width: 512px) {
    font-size: 1em;
  }
}
